<phpunit
  bootstrap="bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
  >
  <testsuites>
    <testsuite name="WooCommerce POS Unit Tests">
      <directory prefix="test-" suffix=".php">spec</directory>
    </testsuite>
  </testsuites>
</phpunit>