@charset "UTF-8";
@font-face {
  font-family: 'WooCommercePOS';
  src: url("../fonts/woocommerce-pos.eot?v=0.3.1");
  src: url("../fonts/woocommerce-pos.eot?#iefix&v=0.3.1") format("embedded-opentype"), url("../fonts/woocommerce-pos.woff?v=0.3.1") format("woff"), url("../fonts/woocommerce-pos.ttf?v=0.3.1") format("truetype"), url("../fonts/woocommerce-pos.svg?v=0.3.1#woocommerceposregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, scss/icons.scss */
.icon {
  display: inline-block;
  font-family: WooCommercePOS;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, scss/icons.scss */
.icon-lg {
  font-size: 1.33333333em;
}

/* line 23, scss/icons.scss */
.icon-2x {
  font-size: 2em;
}

/* line 26, scss/icons.scss */
.icon-3x {
  font-size: 3em;
}

/* line 29, scss/icons.scss */
.icon-4x {
  font-size: 4em;
}

/* line 32, scss/icons.scss */
.icon-5x {
  font-size: 5em;
}

/* line 35, scss/icons.scss */
.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 43, scss/icons.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 46, scss/icons.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  /* line 51, scss/icons.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 54, scss/icons.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  /* line 59, scss/icons.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 62, scss/icons.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  /* line 67, scss/icons.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 71, scss/icons.scss */
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* line 76, scss/icons.scss */
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 84, scss/icons.scss */
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 92, scss/icons.scss */
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 100, scss/icons.scss */
.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 108, scss/icons.scss */
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 116, scss/icons.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 119, scss/icons.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 122, scss/icons.scss */
.icon-barcode:before, .icon-products:before {
  content: "\e603";
}

/* line 125, scss/icons.scss */
.icon-bars:before {
  content: "\f0c9";
}

/* line 128, scss/icons.scss */
.icon-check:before, .icon-success:before {
  content: "\f00c";
}

/* line 131, scss/icons.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 134, scss/icons.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 137, scss/icons.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 140, scss/icons.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 143, scss/icons.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 146, scss/icons.scss */
.icon-refresh:before {
  content: "\f01e";
}

/* line 149, scss/icons.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 152, scss/icons.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 155, scss/icons.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 158, scss/icons.scss */
.icon-qrcode:before {
  content: "\e604";
}

/* line 161, scss/icons.scss */
.icon-receipt:before, .icon-orders:before {
  content: "\e602";
}

/* line 164, scss/icons.scss */
.icon-scissors:before, .icon-coupons:before {
  content: "\e607";
}

/* line 167, scss/icons.scss */
.icon-search:before {
  content: "\f002";
}

/* line 170, scss/icons.scss */
.icon-support:before {
  content: "\e605";
}

/* line 173, scss/icons.scss */
.icon-times:before, .icon-error:before {
  content: "\f00d";
}

/* line 176, scss/icons.scss */
.icon-times-circle:before {
  content: "\f057";
}

/* line 179, scss/icons.scss */
.icon-user:before, .icon-customers:before {
  content: "\e606";
}

/* line 182, scss/icons.scss */
.icon-woocommerce-pos:before, .icon-pos:before {
  content: "\e600";
}

/* line 185, scss/icons.scss */
.icon-delete:before {
  content: "\e601";
}

/* line 188, scss/icons.scss */
.icon-info-circle:before {
  content: "\f05a";
}

/* line 191, scss/icons.scss */
.icon-more-horiz:before {
  content: "\e608";
}

/* line 194, scss/icons.scss */
.icon-more-vert:before {
  content: "\e609";
}

/**
 * Loading & Fail
 */
/* line 201, scss/icons.scss */
.icon-spinner {
  width: 20px;
  height: 20px;
  background: url(../loader.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 207, scss/icons.scss */
.icon-spinner.icon-2x {
  width: 40px;
  height: 40px;
}

/* line 213, scss/icons.scss */
.icon-fail {
  font-family: monospace;
}
/* line 215, scss/icons.scss */
.icon-fail:before {
  content: "⊙﹏⊙";
}
