[submodule "styleguide"]
	path = styleguide
	url = https://github.com/kilbot/WooCommerce-POS-StyleGuide.git
[submodule ".docker"]
	path = .docker
	url = git@github.com:kilbot/WooCommerce-Dev-Docker.git
