<phpunit
  bootstrap="tests/unit/php/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
  >
  <testsuites>
    <testsuite name="WooCommerce POS Unit Tests">
      <directory prefix="test-" suffix=".php">./tests/unit/php/spec/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">./includes</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage/clover.xml" charset="UTF-8" />
  </logging>
</phpunit>