settings {
  @at-root {

    ##{current-module()}-hotkeys {

      ul {
        li {
          input {
            text-align: center;
            width: 60px;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }

    }

  }
}