settings {
  @at-root {

    ##{current-module()}-receipts {

    }

  }
}

/**
 * Receipts sections
 */
receipt {
  @at-root {

    .#{current-module()}-template-display {

      @include display-flex;

      > div {
        @include flex(1);
        @include display-flex;
        @include flex-direction(column);
        min-height: 600px;

        &:first-of-type {
          margin-right: 4px;
        }

        &:last-of-type {
          margin-left: 4px;
        }
      }

      .#{namespace('settings-panel-body')} {
        @include flex(1);
      }

    }

    .#{current-module()}-template-editor {

      .#{namespace('settings-panel-body')} {
        position: relative;
      }

      ##{namespace('ace-editor')} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

    }

    .#{current-module()}-template-preview {

      iframe {
        width: 100%;
        height: 550px;
      }
    }

  }
}