<strong class="title">{{title}}</strong>

{{#is type 'price|tendered'}}
    <div class="input-group">
    	<span class="input-group-addon">{{{getOption 'accounting.currency.symbol'}}}</span>
		<input type="text" name="value" class="form-control autogrow">
	</div>
{{/is}}

{{#is type 'discount'}}
    <span></span>
	<div class="input-group">
		<span class="input-group-btn"><a class="disabled" href="#" data-modifier="value">{{{getOption 'accounting.currency.symbol'}}}</a></span>
		<input type="text" name="value" class="form-control autogrow">
		<input type="text" name="percentage" class="form-control autogrow" style="display:none">
		<span class="input-group-btn"><a href="#" data-modifier="percentage">%</a></span>
	</div>
{{/is}}

{{#is type 'quantity'}}
	<div class="input-group">
		<span class="input-group-btn"><a href="#" data-modifier="decrease"><i class="icon icon-minus"></i></a></span>
		<input type="text" name="value" class="form-control autogrow">
		<span class="input-group-btn"><a href="#" data-modifier="increase"><i class="icon icon-plus"></i></a></span>
	</div>
{{/is}}