$settings-border-color        : #ccc;
$settings-text-success-color  : #3c763d;
$settings-text-error-color    : #a94442;


.#{namespace('text')}-success {
  color: $settings-text-success-color ;
}

.#{namespace('text')}-error {
  color: $settings-text-error-color ;
}


settings {
  @at-root {

    ##{current-module()}-tabs {

      .nav-tab-wrapper {
        border-bottom: 1px solid $settings-border-color;
        //padding: 9px 15px 0 0;
        //line-height: inherit;
      }

      //.nav-tab {
      //  &:hover, &:active, &:focus {
      //    outline: 0;
      //  }
      //}

    }

    ##{current-module()}-footer {
      margin-top: 20px;
      border-top: 1px solid lighten(#CFCFCF, 5%);
      >div {
        padding-top: 20px;
        //    border-top: 1px solid lighten(#f1f1f1, 5%);
      }
      button {
        vertical-align: middle;
      }
      p.message {
        display: inline-block;
        margin: 0 0 0 10px;
        line-height: 20px;
        i {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }

  }
}