#wc-pos-settings-tabs {

  ul {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 9px 15px 0 10px;
    li {
      padding: 6px 10px;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      &.active {
        color: #000;
        background: #f1f1f1;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.wc-pos-settings {
  table.form-table {
    vertical-align: middle;
    margin-bottom: 20px;
    line-height: 1;
    th {
      img {
        margin: 2px -10px 0 0;
        float: right;
      }
    }
    td {
      padding-right: 0;
    }
  }
  table.wc-gateways {
    th:first-of-type {
      width: 1%;
    }
    th, td {
      text-align: center;
      padding: 9px 7px;
    }
    th.gateway-name, th.gateway-id,
    td.gateway-name, td.gateway-id {
      text-align: left;
    }
    tbody {
//      tr:nth-child(even) {
//        background-color: #f9f9f9;
//      }
      td {
        cursor: move;
        padding: 7px;
      }
      td.gateway-name{
        font-weight: 700;
      }
      .status-enabled:before {
        font-family:WooCommerce;
        speak:none;
        font-weight:400;
        font-variant:normal;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        margin:0;
        text-indent:0;
        font-size: 20px;
        content:"\e015";
        color:#ad74a2
      }
      .status-enabled:before {
        font-family:WooCommerce;
        speak:none;
        font-weight:400;
        font-variant:normal;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        margin:0;
        text-indent:0;
        font-size: 20px;
        content:"\e015";
        color:#ad74a2
      }
      .status-disabled:before {
        font-family:WooCommerce;
        speak:none; font-weight:400;
        font-variant:normal;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        margin:0;
        text-indent:0;
        font-size: 20px;
        text-align:center;
        content: "\e602";
        color:#E0E0E0;
      }
    }
  }
  p.response {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 20px;
    i {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}
.wc-pos-settings i.spinner, #wc-pos-modal i.spinner {
  display: inline-block;
  float: none;
  margin: 0;
}