#wc-pos-settings-tabs {
  ul {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 9px 15px 0 10px;
    li {
      padding: 6px 10px;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      border-bottom: 1px solid #ccc;
      &.active {
        color: #000;
        background: #f1f1f1;
        border-bottom: none;
        position: relative;
        top: 1px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

#wc-pos-settings {
  table.form-table {
    margin-bottom: 20px;
    line-height: 1;
    th {
      img {
        margin: 2px -10px 0 0;
        float: right;
      }
    }
    td {
      padding-right: 0;
    }
  }
}

#wc-pos-settings-footer {
  button {
    vertical-align: middle;
  }
  p.message {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 20px;
    i {
      margin-right: 5px;
      vertical-align: middle;
    }
    &.success {
      color: $state-success-text;
    }
    &.error {
      color: $state-danger-text;
    }
  }
}