// Select 2
$select2-spacing      : 3px;
$select2-text-color   : $text-color;
$select2-border-color : darken($border-color, 10%);
$select2-border-radius: $border-radius-base;
$select2-input-bg     : white;
$select2-arrow-bg     : white;
$select2-drop-bg      : white;
$select2-disabled-text: $secondary-text-color;
$select2-disabled-bg  : #f4f4f4;
$select2-error-text-color: $state-danger-text;
$select2-close-color  : $secondary-text-color;