<p>
  {{message}}
  {{#if raw}}
    <a href="#" data-action="raw"><i class="{{namespace 'icon-info-circle'}}"></i></a>
  {{/if}}
<p>
{{#if raw}}
  <div class="raw-output" style="display:none">{{{raw}}}</div>
{{/if}}