/**
 * Using Font-Awesome for icons 
 * Using the default Wordpress fonts and palette - it is known and familiar
 */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/* =Reset
-------------------------------------------------------------- */
/* line 4, sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 22, sass/partials/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 28, sass/partials/_reset.scss */
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, sass/partials/_reset.scss */
body {
  background: #f1f1f1;
}

/* line 38, sass/partials/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* line 50, sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 53, sass/partials/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 57, sass/partials/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 61, sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 65, sass/partials/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 68, sass/partials/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 71, sass/partials/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 75, sass/partials/_reset.scss */
a img {
  border: 0;
}

/* line 2, sass/partials/_mixins.scss */
.clear:before,
.entry-content:before,
.comment-content:before,
.site-header:before,
.site-content:before,
.site-footer:before, #products table tbody dl:before, #pagination:before, .clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, #products table tbody dl:after, #pagination:after {
  content: "";
  display: table;
}
/* line 6, sass/partials/_mixins.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, #products table tbody dl:after, #pagination:after {
  clear: both;
}

/* =Global
----------------------------------------------- */
/* Alignment */
/* line 5, sass/partials/_global.scss */
.alignleft, header a.btn-left {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 10, sass/partials/_global.scss */
.alignright, header a.btn-right {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 15, sass/partials/_global.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 22, sass/partials/_global.scss */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 28, sass/partials/_global.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* Clearing */
/* line 1, sass/partials/_typography.scss */
body,
button,
input,
select,
textarea {
  color: #444444;
  font-family: "Open Sans", Sans-Serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Headings */
/* line 14, sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Sans-Serif;
  clear: both;
}

/* line 18, sass/partials/_typography.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 26, sass/partials/_typography.scss */
p {
  margin-bottom: 1.5em;
}

/* line 29, sass/partials/_typography.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 32, sass/partials/_typography.scss */
ul {
  list-style: disc;
}

/* line 35, sass/partials/_typography.scss */
ol {
  list-style: decimal;
}

/* line 38, sass/partials/_typography.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 43, sass/partials/_typography.scss */
dt {
  font-weight: bold;
}

/* line 46, sass/partials/_typography.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 49, sass/partials/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 52, sass/partials/_typography.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 55, sass/partials/_typography.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 58, sass/partials/_typography.scss */
address {
  margin: 0 0 1.5em;
}

/* line 61, sass/partials/_typography.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}

/* line 72, sass/partials/_typography.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 75, sass/partials/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 79, sass/partials/_typography.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 83, sass/partials/_typography.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, sass/partials/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 94, sass/partials/_typography.scss */
sub {
  top: .5ex;
}

/* line 97, sass/partials/_typography.scss */
small {
  font-size: 75%;
}

/* line 100, sass/partials/_typography.scss */
big {
  font-size: 125%;
}

/* line 103, sass/partials/_typography.scss */
figure {
  margin: 0;
}

/* line 106, sass/partials/_typography.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 110, sass/partials/_typography.scss */
th {
  font-weight: bold;
}

/* line 113, sass/partials/_typography.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* Links */
/* line 119, sass/partials/_typography.scss */
a {
  color: #0074a2;
}
/* line 12, sass/partials/_mixins.scss */
a:hover, a:active, a:focus {
  color: #000609;
}

/* line 1, sass/partials/_forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 10, sass/partials/_forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 28, sass/partials/_forms.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 35, sass/partials/_forms.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 46, sass/partials/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 50, sass/partials/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 56, sass/partials/_forms.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 59, sass/partials/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 64, sass/partials/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 74, sass/partials/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 82, sass/partials/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 89, sass/partials/_forms.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* line 1, sass/partials/_tables.scss */
table {
  margin-bottom: 0;
}
/* line 4, sass/partials/_tables.scss */
table thead th, table thead td {
  border-bottom: 1px solid #d4d4d4;
}
/* line 8, sass/partials/_tables.scss */
table th, table td {
  padding: 0.75em !important;
  vertical-align: middle;
}
/* line 11, sass/partials/_tables.scss */
table th img, table td img {
  vertical-align: bottom;
  min-width: 60px;
  max-width: 90px;
}
/* line 17, sass/partials/_tables.scss */
table td {
  border-bottom: 1px solid #eeeeee;
}

/* line 22, sass/partials/_tables.scss */
#products .loading {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
}

/* line 28, sass/partials/_tables.scss */
#filter {
  padding: 0.75em;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
}
/* line 32, sass/partials/_tables.scss */
#filter input[type=search] {
  width: 100%;
  height: 2.25em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 35px;
}
/* line 39, sass/partials/_tables.scss */
#filter i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  margin: 0.75em 0.75em;
  pointer-events: none;
  line-height: 2.25em;
}

/* line 51, sass/partials/_tables.scss */
#products table thead {
  display: none;
}
/* line 53, sass/partials/_tables.scss */
#products table tbody strong {
  display: block;
}
/* line 55, sass/partials/_tables.scss */
#products table tbody tr:nth-of-type(even) {
  background-color: white;
}
/* line 58, sass/partials/_tables.scss */
#products table tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
/* line 62, sass/partials/_tables.scss */
#products table tbody tr:last-of-type td {
  border-bottom: 1px solid #d4d4d4;
}
/* line 65, sass/partials/_tables.scss */
#products table tbody dl {
  width: 100%;
  font-size: 0.8em;
}
/* line 69, sass/partials/_tables.scss */
#products table tbody dl dt {
  font-weight: normal;
  float: left;
  width: 40%;
}
/* line 74, sass/partials/_tables.scss */
#products table tbody dl dd {
  float: right;
  margin: 0;
  width: 60%;
}

/* line 84, sass/partials/_tables.scss */
#pagination {
  padding: 0.75em;
  position: relative;
}
/* line 88, sass/partials/_tables.scss */
#pagination small {
  text-align: center;
  display: block;
  margin: 0 60px;
  line-height: 1.3;
}
/* line 94, sass/partials/_tables.scss */
#pagination div {
  position: relative;
  z-index: 99;
}
/* line 98, sass/partials/_tables.scss */
#pagination span {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 107, sass/partials/_tables.scss */
#pagination.working {
  background-color: rgba(125, 181, 0, 0.3);
}
/* line 109, sass/partials/_tables.scss */
#pagination.working span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  background-image: url(../../../assets/bg-working.gif);
}

/* line 119, sass/partials/_tables.scss */
#cart table tbody tr:last-of-type td {
  border-bottom: 1px solid #d4d4d4;
}
/* line 122, sass/partials/_tables.scss */
#cart table tbody input[type=text] {
  width: 3em !important;
}
/* line 128, sass/partials/_tables.scss */
#cart table tfoot tr:last-of-type th, #cart table tfoot tr:last-of-type td {
  border-bottom: 1px solid #d4d4d4;
}
/* line 134, sass/partials/_tables.scss */
#cart .actions {
  padding: 0.75em;
  text-align: right;
}

/* Susy Settings =================================================== */
/* Layout =================================================== */
/* line 17, sass/partials/_layout.scss */
#main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.93458%;
}
/* line 12, ../../../../../../../../.rvm/gems/ruby-2.1.1/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
#main::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, sass/partials/_layout.scss */
.col {
  background: white;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
/* line 26, sass/partials/_layout.scss */
.col.leftcol {
  margin-bottom: 0.93458%;
}

@media (min-width: 768px) {
  /* line 32, sass/partials/_layout.scss */
  header .btn span {
    display: inline !important;
  }

  /* line 35, sass/partials/_layout.scss */
  .leftcol {
    width: 49.53271%;
    float: left;
    margin-right: 0.93458%;
  }

  /* line 39, sass/partials/_layout.scss */
  .rightcol {
    width: 49.53271%;
    float: right;
  }
}
/* line 44, sass/partials/_layout.scss */
#page {
  font-size: 0.8em;
}

@media (min-width: 320px) {
  /* line 48, sass/partials/_layout.scss */
  #page {
    font-size: 0.9em;
  }
}
@media (min-width: 480px) {
  /* line 53, sass/partials/_layout.scss */
  #page {
    font-size: 1em;
  }
}
/* Header =================================================== */
/* line 59, sass/partials/_layout.scss */
header {
  color: #eeeeee;
  background-color: #222222;
}
/* line 63, sass/partials/_layout.scss */
header h1 {
  text-align: center;
  clear: none;
  line-height: 2.25em;
}
/* line 69, sass/partials/_layout.scss */
header a {
  color: #eeeeee;
  text-decoration: none;
}
/* line 12, sass/partials/_mixins.scss */
header a:hover, header a:active, header a:focus {
  color: #0099d5;
}
/* line 76, sass/partials/_layout.scss */
header a.btn {
  color: #eeeeee;
  background-color: #222222;
  padding: 0 0.75em;
  line-height: 2.25em;
  height: auto;
}
/* line 12, sass/partials/_mixins.scss */
header a.btn:hover, header a.btn:active, header a.btn:focus {
  background-color: #0074a2;
  text-decoration: none;
}
/* line 86, sass/partials/_layout.scss */
header a.btn span {
  display: none;
}

/* line 102, sass/partials/_buttons.scss */
.btn {
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 400;
  font-size: 16px;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 120, sass/partials/_buttons.scss */
.btn:hover {
  background-color: #eeeeee;
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}
/* line 124, sass/partials/_buttons.scss */
.btn:active {
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 130, sass/partials/_buttons.scss */
.btn:focus {
  outline: none;
}

/* line 136, sass/partials/_buttons.scss */
input.btn, button.btn {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 143, sass/partials/_buttons.scss */
.btn-block {
  display: block;
}

/* line 148, sass/partials/_buttons.scss */
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
input.btn:disabled,
button.btn:disabled {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none;
}

/* line 164, sass/partials/_buttons.scss */
.btn-wrap {
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(to bottom, #e3e3e3, #f2f2f2);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 174, sass/partials/_buttons.scss */
.btn-flat {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none;
}
/* line 183, sass/partials/_buttons.scss */
.btn-flat:hover {
  background: #fbfbfb;
}
/* line 186, sass/partials/_buttons.scss */
.btn-flat:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #eeeeee;
  color: #bbbbbb;
}
/* line 191, sass/partials/_buttons.scss */
.btn-flat.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 201, sass/partials/_buttons.scss */
.btn-border {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none;
}
/* line 210, sass/partials/_buttons.scss */
.btn-border:hover {
  background: none;
  color: gray;
  border: 2px solid gray;
}
/* line 215, sass/partials/_buttons.scss */
.btn-border:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
}
/* line 221, sass/partials/_buttons.scss */
.btn-border.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 270, sass/partials/_buttons.scss */
.btn-rounded {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 270, sass/partials/_buttons.scss */
.btn-circle {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 50px;
  line-height: 50px;
  height: 50px;
  padding: 0px;
  border-width: 4px;
  font-size: 21px;
}

/* line 304, sass/partials/_buttons.scss */
.btn-primary {
  background: -moz-linear-gradient(top, #00b5e5, #008db2);
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(to bottom, #00b5e5, #008db2);
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}
/* line 311, sass/partials/_buttons.scss */
.btn-primary:hover {
  background-color: #00a1cb;
  background: -moz-linear-gradient(top, #00c9fe, #008db2);
  background: -webkit-linear-gradient(top, #00c9fe, #008db2);
  background: linear-gradient(to bottom, #00c9fe, #008db2);
}
/* line 315, sass/partials/_buttons.scss */
.btn-primary:active {
  background: #1495b7;
  color: #005065;
}

/* line 399, sass/partials/_buttons.scss */
.btn-flat-primary {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #00a1cb;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 408, sass/partials/_buttons.scss */
.btn-flat-primary:hover {
  background: #00b5e5;
}
/* line 411, sass/partials/_buttons.scss */
.btn-flat-primary:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #1495b7;
  color: #00647f;
}
/* line 416, sass/partials/_buttons.scss */
.btn-flat-primary.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 304, sass/partials/_buttons.scss */
.btn-action {
  background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
  background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
  background: linear-gradient(to bottom, #8fcf00, #6b9c00);
  background-color: #7db500;
  border-color: #5a8200;
  color: white;
  text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
/* line 311, sass/partials/_buttons.scss */
.btn-action:hover {
  background-color: #7db500;
  background: -moz-linear-gradient(top, #a0e800, #6b9c00);
  background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
  background: linear-gradient(to bottom, #a0e800, #6b9c00);
}
/* line 315, sass/partials/_buttons.scss */
.btn-action:active {
  background: #76a312;
  color: #374f00;
}

/* line 399, sass/partials/_buttons.scss */
.btn-flat-action {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #7db500;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 408, sass/partials/_buttons.scss */
.btn-flat-action:hover {
  background: #8fcf00;
}
/* line 411, sass/partials/_buttons.scss */
.btn-flat-action:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #76a312;
  color: #486900;
}
/* line 416, sass/partials/_buttons.scss */
.btn-flat-action.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 304, sass/partials/_buttons.scss */
.btn-highlight {
  background: -moz-linear-gradient(top, #fa9915, #d87e04);
  background: -webkit-linear-gradient(top, #fa9915, #d87e04);
  background: linear-gradient(to bottom, #fa9915, #d87e04);
  background-color: #f18d05;
  border-color: #bf7004;
  color: white;
  text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}
/* line 311, sass/partials/_buttons.scss */
.btn-highlight:hover {
  background-color: #f18d05;
  background: -moz-linear-gradient(top, #fba42e, #d87e04);
  background: -webkit-linear-gradient(top, #fba42e, #d87e04);
  background: linear-gradient(to bottom, #fba42e, #d87e04);
}
/* line 315, sass/partials/_buttons.scss */
.btn-highlight:active {
  background: #d8891e;
  color: #8d5303;
}

/* line 399, sass/partials/_buttons.scss */
.btn-flat-highlight {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #f18d05;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 408, sass/partials/_buttons.scss */
.btn-flat-highlight:hover {
  background: #fa9915;
}
/* line 411, sass/partials/_buttons.scss */
.btn-flat-highlight:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #d8891e;
  color: #a66103;
}
/* line 416, sass/partials/_buttons.scss */
.btn-flat-highlight.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 304, sass/partials/_buttons.scss */
.btn-caution {
  background: -moz-linear-gradient(top, #e8543f, #d9331a);
  background: -webkit-linear-gradient(top, #e8543f, #d9331a);
  background: linear-gradient(to bottom, #e8543f, #d9331a);
  background-color: #e54028;
  border-color: #c22d18;
  color: white;
  text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}
/* line 311, sass/partials/_buttons.scss */
.btn-caution:hover {
  background-color: #e54028;
  background: -moz-linear-gradient(top, #eb6855, #d9331a);
  background: -webkit-linear-gradient(top, #eb6855, #d9331a);
  background: linear-gradient(to bottom, #eb6855, #d9331a);
}
/* line 315, sass/partials/_buttons.scss */
.btn-caution:active {
  background: #cd5240;
  color: #952312;
}

/* line 399, sass/partials/_buttons.scss */
.btn-flat-caution {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e54028;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 408, sass/partials/_buttons.scss */
.btn-flat-caution:hover {
  background: #e8543f;
}
/* line 411, sass/partials/_buttons.scss */
.btn-flat-caution:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #cd5240;
  color: #ac2815;
}
/* line 416, sass/partials/_buttons.scss */
.btn-flat-caution.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 304, sass/partials/_buttons.scss */
.btn-royal {
  background: -moz-linear-gradient(top, #99389f, #752a79);
  background: -webkit-linear-gradient(top, #99389f, #752a79);
  background: linear-gradient(to bottom, #99389f, #752a79);
  background-color: #87318c;
  border-color: #632466;
  color: white;
  text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35);
}
/* line 311, sass/partials/_buttons.scss */
.btn-royal:hover {
  background-color: #87318c;
  background: -moz-linear-gradient(top, #ab3eb2, #752a79);
  background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
  background: linear-gradient(to bottom, #ab3eb2, #752a79);
}
/* line 315, sass/partials/_buttons.scss */
.btn-royal:active {
  background: #764479;
  color: #3e1740;
}

/* line 399, sass/partials/_buttons.scss */
.btn-flat-royal {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #87318c;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 408, sass/partials/_buttons.scss */
.btn-flat-royal:hover {
  background: #99389f;
}
/* line 411, sass/partials/_buttons.scss */
.btn-flat-royal:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #764479;
  color: #501d53;
}
/* line 416, sass/partials/_buttons.scss */
.btn-flat-royal.disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 436, sass/partials/_buttons.scss */
.btn-jumbo {
  font-size: 26px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px;
}

/* line 436, sass/partials/_buttons.scss */
.btn-large {
  font-size: 21px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 467, sass/partials/_buttons.scss */
input.btn-large, button.btn-large {
  height: 40.4px;
}

/* line 436, sass/partials/_buttons.scss */
.btn-small {
  font-size: 17px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 467, sass/partials/_buttons.scss */
input.btn-small, button.btn-small {
  height: 27.6px;
}

/* line 436, sass/partials/_buttons.scss */
.btn-tiny {
  font-size: 14px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 467, sass/partials/_buttons.scss */
input.btn-tiny, button.btn-tiny {
  height: 24.4px;
}

/* #page =================================================== */
/* line 2, sass/partials/_menu.scss */
html, body {
  overflow-x: hidden;
  /* prevents horizontal scroll bars */
  -webkit-tap-highlight-color: transparent;
  /* disable webkit tap highlight */
  height: 100%;
  /* fixes focus scrolling in Safari (OS X) */
}

/* line 7, sass/partials/_menu.scss */
#page {
  position: relative;
}

/* Menu =================================================== */
/* line 13, sass/partials/_menu.scss */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pushy =================================================== */
/* line 22, sass/partials/_menu.scss */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #222222;
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
/* line 33, sass/partials/_menu.scss */
.pushy a {
  display: block;
  color: #eeeeee;
  padding: 0 0.75em;
  line-height: 2.25em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
/* line 12, sass/partials/_mixins.scss */
.pushy a:hover, .pushy a:active, .pushy a:focus {
  background: #0074a2;
  color: #eeeeee;
}
/* line 48, sass/partials/_menu.scss */
.pushy li:first-child a {
  border-top: 0;
}

/* Menu Movement */
/* line 55, sass/partials/_menu.scss */
.pushy-left {
  -moz-transform: translate3d(-200px, 0, 0);
  -webkit-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

/* line 59, sass/partials/_menu.scss */
.pushy-open {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 63, sass/partials/_menu.scss */
.page-push, .push-push {
  -moz-transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

/* Menu Transitions */
/* line 69, sass/partials/_menu.scss */
.pushy, #page, .push {
  -moz-transition: 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -webkit-transition: 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* Site Overlay */
/* line 78, sass/partials/_menu.scss */
.site-overlay {
  display: none;
}

/* line 82, sass/partials/_menu.scss */
.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  z-index: 9999;
}

/* User Actions =================================================== */
/* line 93, sass/partials/_menu.scss */
#user-actions {
  display: none;
  background: #222222;
  position: absolute;
  right: 0;
  top: 2.25em;
  width: 200px;
}
/* line 101, sass/partials/_menu.scss */
#user-actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 107, sass/partials/_menu.scss */
#user-actions ul a {
  display: block;
  color: #eeeeee;
  padding: 0 0.75em;
  line-height: 2.25em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
/* line 12, sass/partials/_mixins.scss */
#user-actions ul a:hover, #user-actions ul a:active, #user-actions ul a:focus {
  background: #0074a2;
  color: #eeeeee;
}
