.cart-module {
  .list-header, .list, .list-totals {
    .qty {
      @include flex(0 1 15%);
    }
    .title {
      @include flex(1);
    }
    .price {
      text-align: right;
      @include flex(0 1 20%);
    }
    .total {
      text-align: right;
      @include flex(0 1 20%);
    }
    .action {
      @include flex(0 1 52px);
    }
  }
  .list {
    ul {
      &.animating {
        li.empty {
          display: none;
        }
      }
      > li.shipping, > li.fee {
        border-top: 1px solid $list-border-color;
//        background: $alternate-bg;
      }
      > li.shipping ~ li.shipping, > li.fee ~ li.fee {
        border-top: none;
      }
      li {
        @include flex-direction(column);
        @include align-items(stretch);
        > div {
          padding: 0;
          > div {
            @include display-flex;
            > div {
              padding: $spacing/3;
              &.title {
                position: relative;
                padding-right: 14px;
                [data-action="more"] {
                  position: absolute;
                  top: 50%;
                  margin-top: -11px;
                  right: -8px;
                  i {
                    @include single-transition(transform, 0.4s);
                  }
                }
                dl {
                  @include clearfix();
                  width: 100%;
                  font-size: $font-size-small;
                  margin: 0;
                  dt {
                    font-weight: normal;
                    float: left;
                    padding-right: 5px;
                    clear: left;
                    font-weight: 600;
                  }
                  dd {
                    float: left;
                    margin: 0;
                  }
                }
              }
            }
          }
          &.item {
            > div {
              @include align-items(center);
            }
          }
          &.drawer {
            background: $drawer-bg;
            box-shadow: inset 0 0 $spacing/3 0 rgba(0, 0, 0, 0.1);
            > div {
              @include flex-wrap(wrap);
              @include align-items(flex-start);
              .col-1 {
                text-align: right;
                @include flex-basis(40%);
              }
              .col-2 {
                @include flex-basis(60%);
                > span {
                  display: block;
                  input {
                    margin: 0 $spacing/3 $spacing/3 0;
                    vertical-align: top;
                    max-width: 7em;
                  }
                  textarea {
                    margin: 0 $spacing/3 $spacing/3 0;
                  }
                  a {
                    color: $brand-warning;
                    &:hover {
                      color: $btn-danger-border;
                    }
                  }
                  i {
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }
        &.empty {
          > div {
            padding: $spacing/3;
          }
        }
        &.drawer-open {
          .title {
            [data-action="more"] i {
              @include rotate(180deg);
            }
          }
        }
      }
    }
  }
  .list, .list-totals {
    input.btn {
      max-width: 7em;
    }
  }
  .list-totals {
    text-align: right;
    .order-total {
      font-size: 1.4em;
    }
    .order-discount {
      input {
        display: none;
        float: right;
      }
      &.editing {
        span {
          display: none;
        }
        input {
          display: block;
        }
      }
    }
  }
  .cart-customer {
    padding: $spacing/3;
  }
  .cart-notes {
    > div {
      padding: $spacing/3;
      border-top: 1px solid darken( $list-border-color, 5% );
    }
  }
  &.cart-empty {
    .list-totals, .cart-customer, .list-actions, .cart-notes {
      display: none;
    }
  }
}