//
// Styling the product display
// --------------------------------------------------

#left .products-module .list-actions > div {
    background-color: nth( $primaryPalette, 6 );
}

.products-module {
  .list {
    ul {
      > li {
        @include flex-direction(column);
        > div, > div > div.variations {
          width: 100%;
          padding: 0;
          > div {
            @include display-flex;
            @include align-items(center);
            > div {
              padding: $spacing/3;
              &.img {
                @include flex(0 1 20%);
                img {
                  width: 100%;
                  max-width: 90px;
                }
              }
              &.title {
                @include flex(1);
                i {
                  color: $secondary-text-color;
                }
                small {
                  display: block;
                }
                dl {
                  @include clearfix();
                  width: 100%;
                  font-size: $font-size-small;
                  margin: 0;
                  dt {
                    font-weight: normal;
                    float: left;
                    padding-right: 5px;
                    clear: left;
                    font-weight: 600;
                  }
                  dd {
                    float: left;
                    margin: 0;
                  }
                  &.variations, &.variant {
                    margin: $spacing/4 0 0 0;
                    [data-action="close"] {
                      display: none;
                    }
                  }
                }
              }
              &.price {
                @include flex(0 1 20%);
              }
              &.action {
                @include flex(0 1 52px);
              }
            }
          }
          &.item {

          }
          &.drawer {
            background: $drawer-bg;
            box-shadow: inset 0 0 $spacing/3 0 rgba(0, 0, 0, 0.1);
            > div {
              @include flex-direction(column);
              &.variations {
                > div {
                  width: 100%;
                  border-bottom: 1px solid #dddddd;
                }
              }
              > div {
                @include display-flex;
                @include flex(1);
                padding: 0;
              }
            }
          }
        }
        &.empty {
          > div {
            padding: $spacing/3;
          }
        }
        &.drawer-open {
          > div > div > div.title > dl.variations {
            [data-action="expand"] {
              display: none;
            }
            [data-action="close"] {
              display: block;
            }
          }
        }
      }
    }
  }
}