.receipt-module {
  .status {
    > div.paid {
      background-color: nth($paletteGreen, 6);
    }
    > div.unpaid {
      background-color: nth($paletteOrange, 6);
    }
    > div {
      a {
        color: $inverse-text-color;
        text-decoration: underline;
      }
    }
  }
  .list-header, .list, .list-totals {
    .qty {
      @include flex(0 1 15%);
    }
    .title {
      @include flex(1);
      dl {
        @include clearfix();
        width: 100%;
        font-size: $font-size-small;
        margin: 0;
        dt {
          font-weight: normal;
          float: left;
          padding-right: 5px;
          clear: left;
          font-weight: 600;
        }
        dd {
          float: left;
          margin: 0;
        }
        &.variant {
          margin: $spacing/4 0 0 0;
        }
      }
    }
    .price {
      text-align: right;
      @include flex(0 1 20%);
    }
    .total {
      text-align: right;
      @include flex(0 1 20%);
    }
    .action {
      @include flex(0 1 52px);
    }
  }
  .list-totals {
    text-align: right;
    .order-total {
      font-size: 1.4em;
    }
    .note {
      div:first-of-type {
        text-align: left;
        font-weight: normal;
      }
    }
  }
}