#cart {
    table {
        tbody {
            input {
                text-align: center;
                max-width: 7em;
                background-color: $odd-background;
                border: 1px solid $border-dark;
                -moz-appearance: textfield;
                // outline: none;
                @include border-radius(16px);
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
} 

#cart-customer, #cart-actions, #cart-notes {
    padding: $vspacing/2;
    border-bottom: 1px solid $border-dark;
}

#cart-actions {
    text-align: right;
}

#cart-notes {
    border: 0;
}