#filter-tabs {
	background-color: $border-dark;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			background-color: lighten( $border-dark, 20% );
			padding: $vspacing/4 $vspacing/2;
			margin: 0 1px 0 0;
			a {
				color: $text-color;
				&:hover {
					color: $brand-danger;
				}
			}
			&:active {
				background-color: $content-background;
			}
		}
	}
}