#footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: $spacing/4;
	background: $content-background;
	border-top: 1px solid darken($border-color, 10%);
	a, .fa-support {
		color: $brand-danger;
	}
}