/* Susy Settings =================================================== */

$susy: (
	columns: 12,
	gutters: 1/8,
);

$mobile 			: 320px;
$mobile-horizontal 	: 480px;
$tablet 			: 768px;
$tablet-horizontal 	: 1024px;
$desktop 			: 1280px;
$desktop-wide 		: 1500px;


/* Layout =================================================== */
#page {
	padding-bottom: $vspacing*1.5;
}

#main {
	@include container();
	padding: gutter();
}
.col {
	background: $panel-background;
	// display: flex;
	border: 1px solid $panel-border;
	@include box-shadow(0 1px 1px rgba(black, 0.04));
	&.leftcol {
		margin-bottom: gutter();
	}
	h4 {
		line-height: 1;
		padding: $vspacing/2;
		border-bottom: 1px solid $border-dark;
	}
	.panel-body {
		padding: $vspacing/2;
	}
}

@include breakpoint($tablet) {
	header .btn-header span {
		display: inline !important;
	}
	.leftcol {
		@include span(6);

	}
	.rightcol {
		@include span(6 last);
	}
}

#page, #menu, #footer {
	font-size: 0.8em;
}
@include breakpoint($mobile) {
	#page, #menu, #footer {
		font-size: 0.9em;
	}
}
@include breakpoint($mobile-horizontal) {
	#page, #menu, #footer {
		font-size: 1em;
	}
}

#footer {
	position:fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	line-height: $vspacing*1.5;
	background: $panel-background;
	border-top: 1px solid $border-dark;
	a, .fa-support {
		color: $brand-danger;
	}
}

/* Header =================================================== */
header {
	color: $menu-text;
	background-color: $menu-background;
	// the page title
	h1 {
		font-size: 1em;
		text-align: center;
		clear: none;
		line-height: $vspacing*1.5;
	}
	// all header links
	a {
		color: $menu-text;
		text-decoration: none;
		@include hoverActiveFocus {
			color: $link-focus;
		}
		// header buttons
		&.btn-header {
			color: $menu-text;
			background-color: $menu-background;
			padding: 0 $vspacing/2;
			line-height: $vspacing*1.5;
			height: auto;
			display: block;
			@include hoverActiveFocus {
				background-color: $menu-highlight-background;
				text-decoration: none;
			}
			span {
				display: none;
			}
		}
	}
}

.pushy-active {
	#menu-btn {
		background-color: $menu-highlight-background;
	}
}