/* Susy Settings =================================================== */

$susy: (
	columns: 12,
	gutters: 1/8,
);

$mobile 			: 320px;
$mobile-horizontal 	: 480px;
$tablet 			: 768px;
$tablet-horizontal 	: 1024px;
$desktop 			: 1280px;
$desktop-wide 		: 1500px;


/* Layout =================================================== */
#page {
	padding-bottom: $spacing*1.5;
}

#main {
	@include container();
	padding: gutter();
}
.col {
	background: $content-background;
	border: 1px solid $border-color;
	@include box-shadow(0 1px 1px rgba(black, 0.04));
	&.leftcol {
		margin-bottom: gutter();
	}
	h4 {
		line-height: 1;
		padding: $spacing/2;
		border-bottom: 1px solid darken($border-color, 20%);
		margin: 0;
	}
}

@include breakpoint($tablet) {
	header .btn-header span {
		display: inline !important;
	}
	.leftcol {
		@include span(6);

	}
	.rightcol {
		@include span(6 last);
	}
}

#page, #menu, #footer {
	font-size: 0.8em;
}
@include breakpoint($mobile) {
	#page, #menu, #footer {
		font-size: 0.9em;
	}
}
@include breakpoint($mobile-horizontal) {
	#page, #menu, #footer {
		font-size: 1em;
	}
}