$numpad-bg: $dark-border-color;

.numpad-popover {
  background-color: $numpad-bg;
  &.top > .arrow {
    border-top-color: $numpad-bg;
    &:after {
      border-top-color: $numpad-bg;
    }
  }
  &.right > .arrow {
    border-right-color: $numpad-bg;
    &:after {
      border-right-color: $numpad-bg;
    }
  }
  &.bottom > .arrow {
    border-bottom-color: $numpad-bg;
    &:after {
      border-bottom-color: $numpad-bg;
    }
  }

  &.left > .arrow {
    border-left-color: $numpad-bg;
    &:after {
      border-left-color: $numpad-bg;
    }
  }
  .popover-content {
	padding: 0;
  }
}

.numpad-header {
	@include clearfix();
	padding: $spacing/4;
	background-color: transparent;
	border-bottom: 1px solid lighten($numpad-bg, 5%);
	input {
		text-align: center;
		padding: $spacing/4 0;
		max-width: 7em;
	}
	.input-group {
		width: 86px;		
	}
	.title {
		line-height: 34px;
	}
}

.numpad-keys {
	@include clearfix();
	table {
		width: auto;
		border-collapse: separate;
		border-spacing: $spacing/4;
		tr {
			td {
				border: 0;
				button {
					display: table-cell;
					height: 50px;
					width: 50px;
					font-size: 18px;
					padding: 0;
					outline: 0;
					small {
						font-size: 13px;
						display: block;
					}
					&.return {
						height: 105px;
					}
					&:active {
						background-color: #ccc;
					}
				}
			}
		}
	}

	table.cash {
		float: left;
		border-right: 1px solid lighten($numpad-bg, 5%);
	}

	table.discount {
		float: right;
		border-left: 1px solid lighten($numpad-bg, 5%);
	}

}