.numpad-header {
	@include clearfix();
	padding: 5px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	.input-group {
		input {
			text-align: center;
		}		
	}
	.title {
		line-height: 30px;
	}
}

.numpad-keys {
	table {
		width: auto;
		border-collapse: separate;
		border-spacing: 5px;
		tr {
			td {
				border: 0;
				button {
					display: table-cell;
					height: 50px;
					width: 50px;
					font-size: 18px;
					padding: 0;
					outline: 0;
					small {
						font-size: 13px;
						display: block;
					}
					&.return {
						height: 105px;
					}
					&:active {
						background-color: #ccc;
					}
				}
			}
		}
	}

	table.cash, table.discount {
		float: left;
		background-color: #f7f7f7;
		border-right: 1px solid #ebebeb;
		button {
			// color: rgba(#000, 0.6);
			color: $text-color;
		}
	}

	table.discount {
		float: right;
		border-right: 0; 
		border-left: 1px solid #ebebeb;
	}

	table.standard {
		&.with-cash-buttons {
			margin-left: 61px;
		} 
		&.with-discount-buttons {
			margin-right: 61px;
		}
	}
}

.numpad-popover {
	.popover-content {
		padding: 0;
	}
}