.numpad {
	table {
		width: 100%;
		margin: 0 -5px -5px 0;
		td {
			border: 0 !important;
			padding: 0 5px 5px 0 !important;
			button {
				font-size: 20px;
				line-height: 50px;
				min-width: 50px;
				width: 100%;
				padding: 0;
				outline: 0;
				&.return {
					height: 109px;
					font-size: 13px;
				}
				&:active {
					background-color: #ccc;
				}
			}
		}
	}
}