.panel {
	.panel-heading {
		border-bottom: 1px solid $border-dark;
		h5 {
			margin: 0;
			padding: $vspacing/2;
			img {
				vertical-align: middle;
			}
		}
	}
	.panel-body {
		border-bottom: 1px solid $border-dark;
		padding: $vspacing/2;
		p {
			margin-bottom: 5px;
		}
	}
	&.panel-default {
		.panel-heading {
			background-color: $panel-default-heading-bg;
		}
	}
	&.panel-success {
		.panel-heading {
			background-color: $state-success-bg;
		}
	}
}

.panel-success {
	.fa-circle-o {display:none;}
	.fa-square-o {display:none;}
	.fa-check-circle-o {display:inline;}
	.fa-check-square-o {display:inline;}
}

.panel-default {
	.fa-circle-o {display:inline;}
	.fa-square-o {display:inline;}
	.fa-check-circle-o {display:none;}
	.fa-check-square-o {display:none;}
}