//
// Styling the product display
// --------------------------------------------------
#products {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		&.list {
			// display: table;
			li {
				@include clearfix();
				display: table;
				table-layout: fixed;
				width: 100%;
				div {
					padding: $spacing/2;
					display: table-cell;
					vertical-align: middle !important;
					border-top: 1px solid $border-color;
					&.img {
						width: 20%;
						img {
							width: 100%;
							max-width: 90px;
							vertical-align: middle;
						}
					}
					&.name {
						width: 50%;
						dl {
			                @include clearfix();
			                width: 100%;
			                font-size: $font-size-small;
			                dt {
			                    font-weight: normal;
			                    float: left;
			                    padding-right: 5px;
			                    clear: left;
			                }
			                dd {
			                    float: left;
			                    margin: 0;
			                }
			            }
			            strong { display: block; }
					}
					&.price {
						width: 15%;
						text-align: center;
					}
					&.action {
						width: 15%;
						text-align: center;
					}
					&.empty {
						width: 100%;
						text-align: center;
					}
					span {
						&:before, &:after {
        					content: " "; // wrap variable pricing
        				}
					}
				}
				&:nth-of-type(even) { background-color: $table-bg-accent; }
        		&:nth-of-type(odd) { background-color: $table-bg; }
        		&:first-of-type {
	        		div {
	        			border: 0;
	        		}
	        	}
	        	&:last-of-type {
	        		div {
	        			border-bottom: 1px solid $dark-border-color;
	        		}
	        	}
			}

		}
		&.tiles {

		}
	}
}

#products-filter {
    padding: $padding-base-vertical;
    border-bottom: 1px solid $dark-border-color;
    input[type=search] {
        -webkit-appearance: textfield;
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        &::-ms-clear {
            display: none;
        }
    }
    .clear-btn {
    	background: none !important;
    	position: relative;
    	float: left;
    	border: 0;
    	padding: 0;
    	width: 0;
    	// line-height: 1;
		a.clear {
			position: absolute;
			top: 3px;
			right: 0;
			color: $text-color;
			z-index: 99;
			display: none;
			@include opacity(0.5);
			&:hover {
				@include opacity(1);
			}
			i {
				line-height: $line-height-base;
				padding: $spacing/12 $spacing/2;
			}
		}   	
    }
    .fa {
    	color: lighten( $text-color, 20% );
    }
    button {
    	background-color: #f9f9f9;
    	&:hover {
    		background-color: darken(#f9f9f9, 5%);
    	}
    }
}

#products-pagination {
    @include clearfix();
    padding: $spacing/2;
    small {
        text-align: center;
        display: block;
        margin: 0 60px;
        line-height: 1.3;
    }
    &.working {
        background-color: rgba(#7db500, 0.3);
        background-image: url(../../../assets/bg-working.gif);
    }
}