.progress-bar {
	width: 100%;
	position: relative;
	@include border-radius($default-border-radius);
	border: 1px solid $gray-lighter;
	height: 26px;
	margin-bottom: $vspacing;
	span {
		display: inline-block;
		height: 24px;
		background-color: rgba(#7db500, 0.6);
        @include border-radius($default-border-radius);
	}
	span.working {
		background-image: url(../../../assets/bg-working.gif);
	}
	em {
		font-style: normal;
		font-size: 0.9em;
		position: absolute;
		right: 6px;
		top: 0;
		line-height: 24px;
	}
}