#receipt-message {
	padding: $spacing/2;
	border-bottom: 1px solid $dark-border-color;
}

#receipt-actions {
	.action-print {
		margin-right: 4px;
	}
}

#receipt {
	table {
		border-bottom: 1px solid $dark-border-color;
		tr {
            &:last-of-type th, &:last-of-type td {
                border-bottom: 1px solid $dark-border-color;
            }
        }
        tfoot {
        	th {
        		text-align: right;
    		}
        }
	}
}