#support-form {
	input[type="text"], input[type="email"], textarea {
		width: 100%;
	}
	textarea {
		height: 100px;
	}
}

.form-row {
	label {
		margin-right: $vspacing;
		display: inline-block;
		min-width: 35%;
	}
}