table {
    margin-bottom: 0;
	thead {
		th, td {
			border-bottom: 1px solid $border-dark;
		}
	}
    tbody.empty tr { background-color: $even-background !important; }
    tr {
        &.odd { background-color: $odd-background; }
        &.even { background-color: $even-background; }
        th, td {
            padding: $vspacing/2;
            vertical-align: middle;
        }
        td {
            border-bottom: 1px solid $border-light;
            dl {
                @extend %clearfix;
                width: 100%;
                font-size: $small-font;
                dt {
                    font-weight: normal;
                    float: left;
                    padding-right: 5px;
                    clear: left;
                }
                dd {
                    float: left;
                    margin: 0;
                }
            }
            &.img {
                max-width: 90px;
                img {
                    vertical-align: middle;
                }
            }
        }
    }

    tfoot {
        th {
            text-align: right;
        }
        div.alert {
            margin-bottom: 0;
            font-size: $font-size-small;
        }
    }
}

.modal table tfoot tr {
     &:last-of-type th, &:last-of-type td {
        border-bottom: 0;
    }
}