table {
	thead {
		th, td {
			border-bottom: 1px solid $border-dark;
		}
	}
	th, td {
		padding: $vspacing/2 !important;
		vertical-align: middle;
		img {
			vertical-align: bottom;
			min-width: 60px;
		}
	}

	td {
		border-bottom: 1px solid $border-light;
	}
}

#products table {
	padding-bottom:  $vspacing/2;
	margin-bottom: 0;
	thead { display: none; }
	tbody tr {
		&:nth-of-type(even) {
			background-color: $even-background;
		}
		&:nth-of-type(odd) {
			background-color: $odd-background;
		}
	}
}

/**
 * Style for the product table filter and pagination
 */
.backgrid-paginator {
	margin-bottom:  $vspacing/2;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline;
		}
	}
}

.backgrid-filter {
	padding: $vspacing/2 ;
	border-bottom: 1px solid $border-dark;
	span.search { display: none; }
	input[type=search] {
		width: 100%;
		box-sizing: border-box;
	}
	a.clear { display: none !important; }
}

$unicorn-btn-bgcolor: #EEE;
$unicorn-btn-height: 32px;
$unicorn-btn-font-color: #666;
$unicorn-btn-font-size: 16px;
$unicorn-btn-font-weight: 400;
$unicorn-btn-font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;


.backgrid-paginator a {
    @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, .5), 0px 1px 2px rgba(0, 0, 0, .15));
    background-color: $unicorn-btn-bgcolor;
    @include background(linear-gradient(top,  lighten($unicorn-btn-bgcolor, 5%), darken($unicorn-btn-bgcolor, 5%)));
    @include inline-block(middle);
    border: 1px solid darken($unicorn-btn-bgcolor, 10%);
    height: $unicorn-btn-height;
    line-height: $unicorn-btn-height;
    padding: 0px ($unicorn-btn-height * .8);
    font-weight: $unicorn-btn-font-weight;
    font-size: $unicorn-btn-font-size;
    font-family: $unicorn-btn-font-family;
    color:  $unicorn-btn-font-color;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    margin: 0;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: $unicorn-btn-bgcolor;
        @include background(linear-gradient(top,  lighten($unicorn-btn-bgcolor, 10%), darken($unicorn-btn-bgcolor, 7%)));
    }
    &:active {
        @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, 1));
        text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
        background: desaturate($unicorn-btn-bgcolor, 20%);
        color: darken($unicorn-btn-bgcolor, 20%);
    }
    &:focus {
        outline: none;
    }
}

.backgrid-paginator li.active a {
    @include box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, 1));
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .4);
    background: lighten($unicorn-btn-font-color, 20%);
    color: $unicorn-btn-bgcolor;
}

.backgrid-paginator li.disabled a {
    @include box-shadow(0px 1px 2px rgba(0, 0, 0, .10));
    @include opacity(.8);
    background: #EEE;
    border: 1px solid #DDD;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    color: #CCC;
    cursor: default;
    -webkit-appearance: none;
}

.backgrid-paginator a {
    $unicorn-btn-background: $unicorn-btn-bgcolor;
    @include box-shadow(none);
    @include transition-property(background);
    @include transition-duration(.3s);
    background: $unicorn-btn-background;
    border: none;
    text-shadow: none;

    &:hover {
        background: lighten($unicorn-btn-background, 5%);
    }
    &:active {
        @include transition-duration(0s);
        background: desaturate($unicorn-btn-background, 20%);
        color: darken($unicorn-btn-background, 20%);
    }
    &.disabled {
        @include box-shadow(none);
        -webkit-appearance: none;
    }
}