table {
    margin-bottom: 0;
	thead {
		th, td {
			border-bottom: 1px solid $border-dark;
		}
	}
    tbody.empty tr { background-color: $even-background !important; }
    tr {
        &.odd { background-color: $odd-background; }
        &.even { background-color: $even-background; }
        th, td {
            padding: $vspacing/2 !important;
            vertical-align: middle;
            img {
                vertical-align: bottom;
                // min-width: 60px;
                // max-width: 90px;
            }
        }
        td {
            border-bottom: 1px solid $border-light;
            dl {
                @extend %clearfix;
                width: 100%;
                font-size: $small-font;
                dt {
                    font-weight: normal;
                    float: left;
                    padding-right: 5px;
                    clear: left;
                }
                dd {
                    float: left;
                    margin: 0;
                }
            }
        }
        &:last-of-type th, &:last-of-type td {
            border-bottom: 1px solid $border-dark;
        }
    }
    tfoot {
        th {
            text-align: right;
        }
        div.alert {
            margin-bottom: 0;
            font-size: $font-size-small;
        }
    }
}

#products .loading {
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

#filter {
    padding: $vspacing/2 ;
    border-bottom: 1px solid $border-dark;
    position: relative;
    input[type=search] {
        width: 100%;
        height: $vspacing*1.5;
        @include box-sizing(border-box);
        padding-left: 35px;
        padding-right: 35px;
        -webkit-appearance: textfield;
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
        &::-ms-clear {
            display: none;
        }
    }
    i.fa-search {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 10px;
        margin: $vspacing/2 $vspacing/2;
        pointer-events: none;
        line-height: $vspacing*1.5;
    }
    a.clear {
        display: none;
        color: $text-color;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        margin: $vspacing/2 $vspacing/2;
        line-height: $vspacing*1.5;
    }
}

#products table {
	thead { display: none; }
	tbody {
        strong { display: block; }
        tr {
            &:nth-of-type(even) {
                background-color: $even-background;
            }
            &:nth-of-type(odd) {
                background-color: $odd-background;
            }
        }
        tr:last-of-type td {
            border-bottom: 1px solid $border-dark;
        }
    }
}

#pagination {
    @extend %clearfix;
    padding: $vspacing/2;
    position: relative;
    small {
        text-align: center;
        display: block;
        margin: 0 60px;
        line-height: 1.3;
    }
    div {
        position: relative;
        z-index: 99;
    }
    span {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    &.working {
        background-color: rgba(#7db500, 0.3);
        span {
            @include opacity(0.3);
            background-image: url(../../../assets/bg-working.gif);
        }
    }
}

#cart {
    table {
        tbody {
            input[type=number] {
                text-align: center;
                min-width: 2em;
                width: 4em;
                max-width: 6em;
                background-color: $odd-background;
                border: 1px solid $border-dark;
                -moz-appearance: textfield;
                // outline: none;
                @include border-radius(16px);
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        tfoot {
            tr.actions {
                th, td {
                    text-align: right;
                    border-top: 1px solid $border-dark;
                }
            }
        }
    }
} 