// Font
$font-family-sans-serif: 'Open Sans', Sans-Serif;

// Colors
$brand-primary:			#00A1CB;
$brand-success:			#7db500;
$brand-info:			#5bc0de;
$brand-warning:			#f0ad4e;
$brand-danger:			#E54028;

$body-bg: 				#f1f1f1;
$content-background: 	#FFF;
$navbar-inverse-color: 	#eee;

$border-color: 			#eee;	
$table-border-color:    $border-color;
$dark-border-color: 	darken($border-color, 6%);   

// Widths & Spacing 
$spacing: 				24px;
$menu-panel-width: 		200px;