<table>
	<tr>
		<td><button>1</button></td>
		<td><button>2</button></td>
		<td><button>3</button></td>
		<td><button data-key="del">del</button></td>
	</tr>
	<tr>
		<td><button>4</button></td>
		<td><button>5</button></td>
		<td><button>6</button></td>
		<td><button data-key="plusminus">+/-</button></td>
	</tr>
	<tr>
		<td><button>7</button></td>
		<td><button>8</button></td>
		<td><button>9</button></td>
		<td rowspan="2"><button data-key="ret" class="return">return</button></td>
	</tr>
	<tr>
		<td><button>0</button></td>
		<td><button>00</button></td>
		<td><button>.</button></td>
	</tr>
</table>