popover-numpad {
  @at-root {

    .#{current-module()} {

      .#{namespace('popover')}-header {
        input {
          width: 20px; // start small, then auto-grow
        }
      }

      .#{namespace('popover')}-body {
        width: 260px;
      }

      // discount
      .#{namespace('numpad')}-discount {
        .#{namespace('numpad')}-body {
          width: 322px;
        }
      }

    }

  }
}