popover-numpad {
  @at-root {

    .#{current-module()} {

      .#{namespace('popover')}-header {
        input {
          width: 20px; // start small, then auto-grow
        }
      }

      .#{namespace('popover')}-body {
        width: 210px;
        @include media-breakpoint-up(sm) {
          width: 260px;
        }
      }

      // discount
      .#{namespace('numpad')}-discount {
        .#{namespace('numpad')}-body {
          width: 272px;
          @include media-breakpoint-up(sm) {
            width: 322px;
          }
        }
      }

      .#{namespace('numpad')}-cash {
        .#{namespace('numpad')}-body {
          width: 332px;
          @include media-breakpoint-up(sm) {
            width: 382px;
          }
        }
      }

    }

  }
}