/**
 * @name Variations Popover Spec
 *
 * @markup
   <div class="popover-variations popover popover-theme-arrows popover-element popover-open popover-element-attached-top popover-element-attached-center">
    <div class="popover-content">
      <div class="popover-body">
        <strong>Label</strong>
        <div class="btn-group">
          <button class="btn">Variant 1</button>
          <button class="btn active">Variant 2</button>
          <button class="btn">Variant 3</button>
        </div>
        <strong>Label</strong>
        <select class="c-select">
          <option>Variant 1</option>
          <option>Variant 2</option>
          <option>Variant 3</option>
        </select>
      </div>
      <div class="popover-footer">
        <button class="btn btn-success">Add to Cart</button>
      </div>
    </div>
  </div>
 */

popover-variations {
  @at-root {

    .#{current-module()} {

      strong {
        display: block;

        &:not(:first-child){
          margin-top: $padding-base-vertical;
        }
      }

      select {
        width: 100%;
      }

      button.active {
        background-color: darken($input-bg, 2%);
      }

      .#{namespace('popover')}-body {
        min-width: 200px;
        max-width: 280px;
      }

      .#{namespace('popover')}-footer {
        button {
          width: 100%;
        }
      }

    }

  }
}

//.popover-variations {
//  min-width: 200px;
//  max-width: 280px;
//  .popover-region {
//    padding: $spacing/3;
//    strong {
//      color: $inverse-text-color;
//    }
//    .btn-group {
//      margin-bottom: $spacing/3;
//    }
//    select {
//      padding: $spacing/3;
//      width: 100%;
//      margin-bottom: $spacing/3;
//    }
//    *[data-action="add"] {
//      width: 100%;
//    }
//  }
//}