//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: $spacing/2;
  margin-bottom: $spacing;
  border: 1px solid transparent;
  @include border-radius($border-radius-base);

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($spacing + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($state-success-bg, $state-success-border, $state-success-text);
}
.alert-info {
  @include alert-variant($state-info-bg, $state-info-border, $state-info-text);
}
.alert-warning {
  @include alert-variant($state-warning-bg, $state-warning-border, $state-warning-text);
}
.alert-danger {
  @include alert-variant($state-danger-bg, $state-danger-border, $state-danger-text);
}

// Popup alerts
.alert-popup {
  position: fixed;
  right: 0;
  top: 0;
  margin: $spacing/2;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  width: auto;
  @include breakpoint($tablet) {
    width: 600px;
    right: 50%;
    margin-right: -300px;
  }
  .action-close {
    position: absolute;
    top: 0;
    right: $spacing/8;
  }
}