// Circle buttons
// --------------------------------------------------
.btn-circle {
  font-size: 16px;
  @include border-radius($spacing * 1.5);
  padding: 0px;
  width: $spacing * 1.5;
  line-height: $spacing * 1.45;
  height: $spacing * 1.5;
  font-weight: bold;
}