.cart-module {
  .list-header, .list, .list-totals {
    .qty {
      @include flex(0 1 15%);
    }
    .more {
      @include flex(0 1 38px);
      text-align: right;
      a {
        color: $text-color;
      }
    }
    .price {
      text-align: right;
      @include flex(0 1 20%);
    }
    .total {
      text-align: right;
      @include flex(0 1 20%);
    }
    .action {
      @include flex(0 1 52px);
    }
  }
  .list {
    ul {
      &.animating {
        li.empty {
          display: none;
        }
      }
      > li.shipping, > li.fee {
        border-top: 1px solid $list-border-color;
//        background: $alternate-bg;
      }
      > li.shipping ~ li.shipping, > li.fee ~ li.fee {
        border-top: none;
      }
      .drawer {
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        background: $drawer-bg;
        box-shadow: inset 0 0 $spacing/3 0 rgba(0, 0, 0, 0.1);
        .col-1 {
          text-align: right;
          @include flex-basis(30%);
        }
        .col-2 {
          @include flex-basis(70%);
          > span {
            display: block;
            input {
              vertical-align: top;
              max-width: 7em;
            }
            a {
              color: $brand-warning;
              &:hover {
                color: $btn-danger-border;
              }
            }
            i {
              vertical-align: top;
            }
            textarea {
              margin: 0 $spacing/3 $spacing/3;
            }
          }
        }
        hr {
          @include flex(0 100%);
          margin: 0;
        }
      }
    }
  }
  .list, .list-totals {
    input.btn {
      max-width: 7em;
    }
  }
  .list-totals {
    text-align: right;
    .order-total {
      font-size: 1.4em;
    }
//    .total {
//      @include flex-basis(28%);
//    }
    input {
      display: none;
    }
    .editing {
      span {
        display: none;
      }
      input {
        display: block;
      }
    }
  }
  .cart-actions {
    text-align: right;
    padding: $spacing/3;
    padding-bottom: 0;
    a {
      margin-bottom: $spacing/3;
    }
  }
  .cart-notes {
    padding: $spacing/3;
    border-top: 1px solid darken( $list-border-color, 5% );
  }
}