.cart-module {
  .list-header, .list, .list-totals {
    .qty {
      @include flex(0 1 15%);
    }
    .more {
      @include flex(0 1 38px);
      text-align: right;
      a {
        color: $text-color;
      }
    }
    .price {
      text-align: right;
      @include flex(0 1 20%);
    }
    .total {
      text-align: right;
      @include flex(0 1 20%);
    }
    .action {
      @include flex(0 1 52px);
    }
  }
  .list {
    ul {
      &.animating {
        li.empty {
          display: none;
        }
      }
      > li.shipping, > li.fee {
        border-top: 3px solid $border-color;
      }
      > li.shipping ~ li.shipping, > li.fee ~ li.fee {
        border-top: none;
      }
      .drawer {
        background-color: #ccc;
      }
    }
  }
  .list-totals {
    text-align: right;
    .order-total {
      font-size: 1.4em;
    }
//    .total {
//      @include flex-basis(28%);
//    }
    input {
      display: none;
    }
    .editing {
      span {
        display: none;
      }
      input {
        display: block;
      }
    }
  }
  .list, .list-totals {
    input {
      @include transition-property(background-color);
      @include transition-duration(.1s);
      @include transition-timing-function(ease-in-out);
      @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
      border: 1px solid $btn-default-border;

      text-align: center;
      max-width: 7em;
      -moz-appearance: textfield;
      // outline: none;
      @include border-radius(16px);
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .cart-actions {
    text-align: right;
    padding: $spacing/3;
  }
  .cart-notes {
    padding: $spacing/3;
  }
}