.cart-module {
  .list {
    ul {
      &.animating {
        li.empty {
          display: none;
        }
      }
    }
  }
  .cart-actions {
    text-align: right;
    padding: $spacing/3;
  }
  .list, .list-totals {
    input {
      text-align: center;
      max-width: 7em;
      background-color: $table-bg-accent;
      border: 1px solid $dark-border-color;
      -moz-appearance: textfield;
      // outline: none;
      @include border-radius(16px);
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//#cart {
//    table {
//        tbody {
//            &.animating {
//                tr.empty {
//                    display: none;
//                }
//            }
//        }
//        tr {
//            &.order-discount {
//                td {
//                    input {
//                        display: none;
//                    }
//                    &.editing {
//                        span {
//                            display: none;
//                        }
//                        input {
//                            display: block;
//                        }
//                    }
//                }
//            }
//            &:last-of-type th, &:last-of-type td {
//                border-bottom: 1px solid $dark-border-color;
//            }
//        }
//        th, td {
//            vertical-align: middle;
//        }
//        dl {
//            @include clearfix();
//            width: 100%;
//            font-size: $font-size-small;
//            margin: 0;
//            dt {
//                font-weight: normal;
//                float: left;
//                padding-right: 5px;
//                clear: left;
//            }
//            dd {
//                float: left;
//                margin: 0;
//            }
//        }
//        input {
//            text-align: center;
//            max-width: 7em;
//            background-color: $table-bg-accent;
//            border: 1px solid $dark-border-color;
//            -moz-appearance: textfield;
//            // outline: none;
//            @include border-radius(16px);
//            &::-webkit-inner-spin-button {
//                -webkit-appearance: none;
//                margin: 0;
//            }
//            &::-webkit-outer-spin-button {
//                -webkit-appearance: none;
//                margin: 0;
//            }
//            &:hover {
//                cursor: pointer;
//            }
//        }
//    }
//}
//
//#cart-totals {
//    th {
//        text-align: right;
//    }
//}
//
//#cart-customer, #cart-actions, #cart-notes {
//    padding: $spacing/2;
//    border-bottom: 1px solid $dark-border-color;
//}
//
//#cart-actions {
//    text-align: right;
//    border: 0;
//}
//
//#cart-notes {
//    border: 0;
//    border-top: 1px solid $dark-border-color;
//}