.checkout-module {
	.list {
		ul {
			li {
				display: block;
				h5 {
					margin: 0;
					padding: $spacing/4 $spacing/2;
					font-size: 18px;
					cursor: pointer;
					input[type="radio"] {
						width: auto;
						margin: 0 $spacing/4 0 0;
					}
					img {
						vertical-align: middle;
						max-height: 21px;
						margin-left: $spacing/4;
					}
				}
				> div {
					display: block;
				}
			}
		}
	}
}