$gateway-bg-color         : $input-border-color;
$gateway-active-bg-color  : $brand-success;
$gateway-active-text-color: $inverse-text-color;
$gateway-padding-x        : $padding-base-horizontal;
$gateway-padding-y        : $padding-base-vertical;

checkout {
  @at-root {

    /**
     *
     */

    .#{current-module()}-status {

      .fail {
        background-color: nth($paletteRed, 7);
      }

      a {
        color: $inverse-text-color;
      }

    }


    /**
     *
     */

    .#{current-module()}-list {

      li {

        .gateway {
          color: nth($primaryPalette, 6);
          background: $gateway-bg-color;
          &:hover {
            color: nth($primaryPalette, 8);
          }
          > div {
            padding: $gateway-padding-y $gateway-padding-x;
            cursor: pointer;

            h5 {
              margin: 0 $gateway-padding-x 0 0;
              display: inline-block;
            }
          }
        }

        .drawer {
          > form {
            padding: $gateway-padding-y $gateway-padding-x;
            margin: 0;
            fieldset {
              border: 0;
              padding: 0;
              margin: 0;
            }
            .form-row {
              @include clearfix();
              label {
                //float: left;
                //margin-right: $gateway-padding-x;
                //line-height: 2.4;
              }
              // special case for SV Braintree, uses div instead of input
              input, .wc-braintree-hosted-field {
                @extend .form-control
              }
            }
          }
        }

        &.active {
          .gateway {
            color: $gateway-active-text-color;
            background: $gateway-active-bg-color
          }
        }

        &.empty {
          p {
            padding: $gateway-padding-y $gateway-padding-x;
            margin: 0;
          }
        }

      }

    }

  }
}