.wc_pos-css-fade-in-10 {
  @include animation(fadeIn 10s 1 linear);
  opacity: 1;
}

.wc_pos-css-fade-out-10 {
  @include animation(fadeOut 10s 1 linear);
  opacity: 0;
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(fadeOut) {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}