#list-filter {
  padding: $padding-base-vertical;
  border-bottom: 1px solid $dark-border-color;
  .input-group {
    width: 60%;
    input[type=search] {
      -webkit-appearance: textfield;
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
      &::-ms-clear {
        display: none;
      }
    }
    .clear-btn {
      background: none !important;
      position: relative;
      float: left;
      border: 0;
      padding: 0;
      width: 0;
      // line-height: 1;
      a.clear {
        position: absolute;
        top: 3px;
        right: 0;
        color: $text-color;
        z-index: 99;
        display: none;
        @include opacity(0.5);
        &:hover {
          @include opacity(1);
        }
        i {
          line-height: 1;
          padding: $spacing/12 $spacing/4;
        }
      }
    }
    .icon {
      color: lighten($text-color, 20%);
    }
    button {
      background-color: #f9f9f9;
      &:hover {
        background-color: darken(#f9f9f9, 5%);
      }
    }
  }
}