// remove iOS rounded corners
input {
  -webkit-appearance: none;
  @include border-radius(0);
  border: 1px solid $input-border-color;
}

// input group
.input-group {
  @include display-flex;
  .form-control, .input-group-addon, .input-group-btn, .input-text {
    border: 1px solid $input-border-color;
    padding: $spacing/4 $spacing/2.4;
    &:first-child {
      @include border-radius($border-radius-small 0 0 $border-radius-small);
    }
    &:last-child {
      @include border-radius(0 $border-radius-small $border-radius-small 0);
    }
  }
  .input-group-addon {
    color: $secondary-text-color;
    background: $input-border-color;
  }
  .input-group-btn {
    padding: 0;
    > a {
      color: nth($primaryPalette, 6);
      background: $input-border-color;
      display: inline-block;
      padding: $spacing/4 $spacing/2.4;
      &:hover {
        color: nth($primaryPalette, 10);
      }
      &.disabled {
        cursor: $cursor-disabled;
        pointer-events: none; // Future-proof disabling of clicks
        color: $text-color;
      }
    }
  }
  .form-control, .input-text {
    outline: 0;
    @include flex(1 1 auto);
    &:not(:first-child) {
      border-left: 0;
    }
    &:not(:last-child) {
      border-right: 0;
    }
  }
  .clear {
    display: none;
    color: $text-color;
    background: white;
    padding: $spacing/4 $spacing/2.4;
    line-height: 20px;
    border-top: 1px solid $input-border-color;
    border-bottom: 1px solid $input-border-color;
    i {
      @include opacity(0.5);
    }
    &:hover i {
      @include opacity(1);
    }
  }
}

// table forms
table.form-table {
  margin-bottom: $spacing;
  td {
    vertical-align: top;
    padding: $spacing/3;
  }
  label {
    color: $secondary-text-color;
    margin-bottom: $spacing/6;
    &:not(:last-child) {
      display: block;
    }
  }
  input[type="text"] {
    width: 100%;
    padding: $spacing/4 $spacing/2.4;
  }
  span.error-message {
    display: none;
  }
  .error {
    label {
      color: $state-danger-text;
    }
    input {
      border: 1px solid $state-danger-text;
    }
    span.error-message {
      display: block;
      width: 100%;
      color: $inverse-text-color;
      background-color: $state-danger-text;
      font-size: 0.8em;
      padding: $spacing/8;
    }
  }
}