$input-font-size          : $font-size-base;
$input-line-height        : $line-height-base;
$input-color              : $text-color;
$input-bg                 : #f9f9f9;
$input-color-placeholder  : #999 !default;
$input-bg-disabled        : #eceeef !default;

$input-padding-x          : $padding-base-horizontal !default;
$input-padding-y          : $padding-base-vertical/2 !default;
$input-height             : (($font-size-base * $input-line-height) + ($input-padding-y * 2)) !default;

$input-border-size        : 1px;
$input-border-color       : darken($border-color, 5%);
$input-border-radius      : $border-radius-base;
$input-border-focus       : #66afe9 !default;
$input-box-shadow-focus   : rgba(102,175,233,.6) !default;

$form-icon-success        : "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNoZWNrIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiM1Q0I4NUMiIGQ9Ik0yMzMuOCw2MTAuMWMtMTMuMywwLTI1LjktNi4yLTM0LTE2LjlMOTAuNSw0NDguOEM3Ni4zLDQzMCw4MCw0MDMuMyw5OC44LDM4OS4xYzE4LjgtMTQuMyw0NS41LTEwLjUsNTkuOCw4LjNsNzEuOSw5NWwyMjAuOS0yNTAuNWMxMi41LTIwLDM4LjgtMjYuMSw1OC44LTEzLjZjMjAsMTIuNCwyNi4xLDM4LjcsMTMuNiw1OC44TDI3MCw1OTBjLTcuNCwxMi0yMC4yLDE5LjQtMzQuMywyMC4xQzIzNS4xLDYxMC4xLDIzNC41LDYxMC4xLDIzMy44LDYxMC4xeiIvPjwvc3ZnPg==" !default;
$form-icon-warning        : "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9Ildhcm5pbmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNjEyIDc5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjEyIDc5MiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0YwQUQ0RSIgZD0iTTYwMyw2NDAuMmwtMjc4LjUtNTA5Yy0zLjgtNi42LTEwLjgtMTAuNi0xOC41LTEwLjZzLTE0LjcsNC4xLTE4LjUsMTAuNkw5LDY0MC4yYy0zLjcsNi41LTMuNiwxNC40LDAuMiwyMC44YzMuOCw2LjUsMTAuOCwxMC40LDE4LjMsMTAuNGg1NTcuMWM3LjUsMCwxNC41LTMuOSwxOC4zLTEwLjRDNjA2LjYsNjU0LjYsNjA2LjcsNjQ2LjYsNjAzLDY0MC4yeiBNMzM2LjYsNjEwLjJoLTYxLjJWNTQ5aDYxLjJWNjEwLjJ6IE0zMzYuNiw1MDMuMWgtNjEuMlYzMDQuMmg2MS4yVjUwMy4xeiIvPjwvc3ZnPg==" !default;
$form-icon-error          : "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNyb3NzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNEOTUzNEYiIGQ9Ik00NDcsNTQ0LjRjLTE0LjQsMTQuNC0zNy42LDE0LjQtNTEuOSwwTDMwNiw0NTEuN2wtODkuMSw5Mi43Yy0xNC40LDE0LjQtMzcuNiwxNC40LTUxLjksMGMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlsOTIuNC05Ni40TDE2NSwyOTkuNmMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlzMzcuNi0xNC40LDUxLjksMGw4OS4yLDkyLjdsODkuMS05Mi43YzE0LjQtMTQuNCwzNy42LTE0LjQsNTEuOSwwYzE0LjQsMTQuNCwxNC40LDM3LjYsMCw1MS45TDM1NC43LDM5Nmw5Mi40LDk2LjRDNDYxLjQsNTA2LjgsNDYxLjQsNTMwLDQ0Nyw1NDQuNHoiLz48L3N2Zz4=" !default;

/**
 *
 */
[contenteditable]:focus {
  @include form-control-focus();
}


/**
 * @name Form
 */

form {
  @at-root {

    .#{current-module()}-inline {
      @include display-flex;
    }

    .error-message {
      @extend .bg-danger;
      font-size: $font-size-xs;
      padding: .1rem;
    }

  }
}


/**
 * @name Input
 *
 * @state :focus - Focus State
 *
 * @markup
 *  <input class="form-control" type="text" placeholder="Enter Name">
 *  <br>
 *  <input class="form-control" type="email" placeholder="Enter Email">
 *  <br>
 *  <input class="form-control" type="password" placeholder="Enter Password">
 *  <br>
 *  <input class="form-control" type="search" placeholder="Enter Search">
 */

form-control {
  @at-root {

    .#{current-module()} {
      //display: block; // allows align-right, nb: may break other styling
      width: 100%;
      padding: $input-padding-y $input-padding-x;
      font-size: $input-font-size;
      line-height: $input-line-height;
      color: $input-color;
      background-color: $input-bg;
      border: $input-border-size solid $input-border-color;
      @include border-radius($input-border-radius);
      @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

      // Unstyle the caret on `<select>`s in IE10+.
      &::-ms-expand {
        background-color: transparent;
        border: 0;
      }

      // Customize the `:focus` state to imitate native WebKit styles.
      @include form-control-focus();

      // Placeholder
      &::placeholder {
        color: $input-color-placeholder;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }

      // Disabled and read-only inputs
      //
      // HTML5 says that controls under a fieldset > legend:first-child won't be
      // disabled if the fieldset is disabled. Due to implementation difficulty, we
      // don't honor that edge case; we style them as disabled anyway.
      &:disabled,
      &[readonly] {
        background-color: $input-bg-disabled;
        // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        opacity: 1;
      }

      &:disabled {
        cursor: $cursor-disabled;
      }

    }


    /**
     * @name Form control feedback states
     *
     * @description Apply contextual and semantic states to individual form controls.
     *
     * @markup
<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Input with success</label>
  <input type="text" class="form-control form-control-success" id="inputSuccess1">
</div>
<div class="form-group has-warning">
  <label class="control-label" for="inputWarning1">Input with warning</label>
  <input type="text" class="form-control form-control-warning" id="inputWarning1">
</div>
<div class="form-group has-error">
  <label class="control-label" for="inputError1">Input with error</label>
  <input type="text" class="form-control form-control-error" id="inputError1">
</div>

<div class="has-success">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1">
      Checkbox with success
    </label>
  </div>
</div>
<div class="has-warning">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxWarning" value="option1">
      Checkbox with warning
    </label>
  </div>
</div>
<div class="has-error">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxError" value="option1">
      Checkbox with error
    </label>
  </div>
</div>
     */

    .#{current-module()}-success,
    .#{current-module()}-warning,
    .#{current-module()}-error {
      padding-right: ($input-padding-x * 3);
      background-repeat: no-repeat;
      background-position: center right ($input-height * .25);
      background-size: ($input-height * .65) ($input-height * .65);
    }

    // Form validation states
    .has-success {
      @include form-control-validation($brand-success);

      .form-control-success {
        background-image: url($form-icon-success);
      }
    }

    .has-warning {
      @include form-control-validation($brand-warning);

      .form-control-warning {
        background-image: url($form-icon-warning);
      }
    }

    .has-error {
      @include form-control-validation($brand-danger);

      .form-control-error {
        background-image: url($form-icon-error);
      }
    }


  }
}

// remove iOS rounded corners
//input[type="text"], input[type="search"] {
//  @include appearance(none);
//  @include border-radius(0);
//  border: 1px solid $input-border-color;
//
//  // disabled
//  &[disabled],
//  &[readonly],
//  fieldset[disabled] & {
//    background-color: $input-bg-disabled;
//    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
//  }
//
//  &[disabled],
//  fieldset[disabled] & {
//    cursor: $cursor-disabled;
//  }
//}
//
//// remove border from contentediatble el
//[contenteditable]:focus {
//  outline: 0px solid transparent;
//}
//
//
//
//// table forms
//table.form-table {
//  margin-bottom: $spacing;
//  td {
//    vertical-align: top;
//    padding: $spacing/3;
//  }
//  label {
//    color: $secondary-text-color;
//    margin-bottom: $spacing/6;
//    &:not(:last-child) {
//      display: block;
//    }
//  }
//  input[type="text"] {
//    width: 100%;
//    padding: $spacing/4 $spacing/2.4;
//  }
//  span.error-message {
//    display: none;
//  }
//  .error {
//    label {
//      color: $state-danger-text;
//    }
//    input {
//      border: 1px solid $state-danger-text;
//    }
//    span.error-message {
//      display: block;
//      width: 100%;
//      color: $inverse-text-color;
//      background-color: $state-danger-text;
//      font-size: 0.8em;
//      padding: $spacing/8;
//    }
//  }
//}