/* Header =================================================== */
header {
	color: $navbar-inverse-color;
	background-color: $navbar-inverse-bg;
	@include clearfix();
	h1 {
		font-size: 14px;
		text-align: center;
		clear: none;
		line-height: 1;
		margin: 0;
		padding: $spacing/2;
	}
	a {
		color: $navbar-inverse-color;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
		@include hoverActiveFocus {
			color: darken( $link-color, 5% );
		}
		&.btn-header {
			color: $navbar-inverse-color;
			background-color: $navbar-inverse-bg;
			padding: $spacing/2;
			height: auto;
			display: block;
			@include hoverActiveFocus {
				background-color: darken( $link-color, 5% );
				text-decoration: none;
			}
			span {
				display: none;
			}
		}
	}
}