// hotkeys
ul.hotkeys, ul.wc-pos-hotkeys {
  @include columns(3 200px);
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: $spacing/4 0;
    input {
      text-align: center;
      max-width: 80px;
      margin-right: $spacing/2;
    }
  }
}
ul.wc-pos-hotkeys {
  @include columns(3 200px);
}