@font-face {
  font-family: 'WooCommercePOS';
  src: url('../fonts/woocommerce-pos.eot?v=0.3.1');
  src: url('../fonts/woocommerce-pos.eot?#iefix&v=0.3.1') format('embedded-opentype'), url('../fonts/woocommerce-pos.woff?v=0.3.1') format('woff'), url('../fonts/woocommerce-pos.ttf?v=0.3.1') format('truetype'), url('../fonts/woocommerce-pos.svg?v=0.3.1#woocommerceposregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

icon {
  @at-root {

    [class^="#{current-module()}-"], [class*=" #{current-module()}-"] {
      font-family: WooCommercePOS;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* Required for <i> rotate ========= */
      display: inline-block;
      /* span for hidden text ========= */
      span {
        display: none;
      }
      /* Fix aligment issue in Firefox ========= */
      vertical-align: inherit;
    }

  }
}


/**
  * @name Icons
  *
  * @markup
  *
    <i class="icon-angle-down"></i> angle-down
    <i class="icon-angle-up"></i> angle-up
    <i class="icon-barcode"></i> barcode
    <i class="icon-bars"></i> bars
    <i class="icon-check"></i> check
    <i class="icon-chevron-down"></i> chevron-down
    <i class="icon-chevron-left"></i> chevron-left
    <i class="icon-chevron-right"></i> chevron-right
    <i class="icon-chevron-up"></i> chevron-up
    <i class="icon-cog"></i> cog
    <i class="icon-coupons"></i> coupons
    <i class="icon-customers"></i> customers
    <i class="icon-delete"></i> delete
    <i class="icon-error"></i> error
    <i class="icon-globe"></i> globe
    <i class="icon-info-circle"></i> info-circle
    <i class="icon-minus"></i> minus
    <i class="icon-more-horiz"></i> more-horiz
    <i class="icon-more-vert"></i> more-vert
    <i class="icon-note"></i> note
    <i class="icon-orders"></i> orders
    <i class="icon-plus"></i> plus
    <i class="icon-pos"></i> pos
    <i class="icon-products"></i> products
    <i class="icon-qrcode"></i> grcode
    <i class="icon-receipt"></i> receipt
    <i class="icon-refresh"></i> refresh
    <i class="icon-search"></i> search
    <i class="icon-success"></i> success
    <i class="icon-support"></i> support
    <i class="icon-times"></i> times
    <i class="icon-times-circle"></i> times-circle
    <i class="icon-user"></i> user
    <i class="icon-woocommerce-pos"></i> woocommerce-pos
    <i class="icon-wordpress"></i> wordpress
  *
  */

$icons: (
  "angle-down"     : "f107",
  "angle-up"       : "f106",
  "barcode"        : "e603",
  "bars"           : "f0c9",
  "check"          : "f00c",
  "chevron-left"   : "f053",
  "products"       : "e603",
  "success"        : "f00c",
  "chevron-down"   : "f078",
  "chevron-right"  : "f054",
  "chevron-up"     : "f077",
  "cog"            : "f013",
  "coupons"        : "e607",
  "customers"      : "e606",
  "delete"         : "e601",
  "error"          : "f00d",
  "globe"          : "f0ac",
  "info-circle"    : "f05a",
  "minus"          : "f068",
  "more-horiz"     : "e608",
  "more-vert"      : "e609",
  "note"           : "e026",
  "orders"         : "e602",
  "plus"           : "f067",
  "pos"            : "e600",
  "qrcode"         : "e604",
  "receipt"        : "e602",
  "refresh"        : "f01e",
  "search"         : "f002",
  "support"        : "e605",
  "times"          : "f00d",
  "times-circle"   : "f057",
  "user"           : "e606",
  "woocommerce-pos": "e600",
  "wordpress"      : "e60a"
);

icon {
  @at-root {

    @each $class, $code in $icons {

      // slash hack
      $withslash: "\"\\#{$code}\"";

      .#{current-module()}-#{$class} {
        &:before {
          content: unquote($withslash);
        }
      }

    }

  }
}


/**
  * @name Order icons
  *
  * @markup
  *
    <i class="icon-pending"></i> pending
    <i class="icon-completed"></i> completed
    <i class="icon-on-hold"></i> on-hold
    <i class="icon-failed"></i> failed
    <i class="icon-cancelled"></i> cancelled
    <i class="icon-processing"></i> processing
    <i class="icon-refunded"></i> refunded
    <i class="icon-open"></i> open
  *
  */

$order-icons: (
  pending     e012  #ffba00,
  completed   e015  #2ea2cc,
  on-hold     e033  #999,
  failed      e016  #d0c21f,
  cancelled   e013  #a00,
  processing  e011  #73a724,
  refunded    e014  #999,
  open        e01d  #73a724
);

icon {
  @at-root {

    @each $icon in $order-icons {

      // slash hack
      $withslash: "\"\\#{nth($icon, 2)}\"";

      .#{current-module()}-#{nth($icon, 1)} {
        &:before {
          content: unquote($withslash);
          color: "#{nth($icon, 3)}";
        }
      }

    }

  }
}


/**
  * @name Icon sizing
  *
  * @markup
  *
    <i class="icon-woocommerce-pos icon-lg"></i>
    <i class="icon-woocommerce-pos icon-2x"></i>
    <i class="icon-woocommerce-pos icon-3x"></i>
    <i class="icon-woocommerce-pos icon-4x"></i>
    <i class="icon-woocommerce-pos icon-5x"></i>
  *
  */

icon {
  @at-root {

    .#{current-module()}-lg, {
      font-size: 1.33333333em;
    }
    .#{current-module()}-2x {
      font-size: 2em;
    }
    .#{current-module()}-3x {
      font-size: 3em;
    }
    .#{current-module()}-4x {
      font-size: 4em;
    }
    .#{current-module()}-5x {
      font-size: 5em;
    }

  }
}


/**
  * @name Spinning icons
  *
  * @markup
  *
    <i class="icon-cog icon-spin"></i>
    <i class="icon-cog icon-spin--steps8"></i>
    <i class="icon-cog icon-spin--steps12"></i>
  *
  */

$spin-name : namespace('spin');

icon {
  @at-root {

    .#{current-module()}-spin {
      @include animation($spin-name 2s infinite linear);
    }
    .#{current-module()}-spin--steps8 {
      @include animation($spin-name 1s infinite steps(8));
    }
    .#{current-module()}-spin--steps12 {
      @include animation($spin-name 1s infinite steps(12));
    }

    @include keyframes($spin-name) {
      0% { @include rotate(0deg); }
      100% { @include rotate(359deg); }
    }

  }
}


/**
  * @name Loading icons
  *
  * @markup
  *
    <i class="icon-loading"></i> loading
    <i class="icon-spinner"></i> spinner
    <i class="icon-fail"></i> fail
  *
  * @todo how to extend
  */

icon {
  @at-root {

    .#{current-module()}-loading, .#{current-module()}-spinner {
      @include animation($spin-name 2s infinite linear);
      &:before {
        content: "\f013";
      }
    }
    .#{current-module()}-fail {
      font-family: monospace;
      &:before {
        content: "⊙﹏⊙";
      }
    }

  }
}


/**
  * @name Rotated icons
  *
  * @markup
  *
    <i class="icon-woocommerce-pos"></i>
    <i class="icon-woocommerce-pos icon-rotate-90"></i>
    <i class="icon-woocommerce-pos icon-rotate-180"></i>
    <i class="icon-woocommerce-pos icon-rotate-270"></i>
    <i class="icon-woocommerce-pos icon-flip-horizontal"></i>
    <i class="icon-woocommerce-pos icon-flip-vertical"></i>
  *
  */

icon {
  @at-root {

    .#{current-module()}-rotate-90 {
      @include rotate(90deg);
    }
    .#{current-module()}-rotate-180 {
      @include rotate(180deg);
    }
    .#{current-module()}-rotate-270 {
      @include rotate(270deg);
    }
    .#{current-module()}-flip-horizontal {
      @include scale(-1, 1);
    }
    .#{current-module()}-flip-vertical {
      @include scale(-1, 1);
    }

  }
}

/**
  * @name Icon states
  *
  * @state .text-success - Success
  * @state .text-error - Failure
  *
  * @markup
  *
    <i class="icon-check"></i>
    <i class="icon-times"></i>
  *
  */