$input-group-addon-text         : $secondary-text-color;
$input-group-addon-bg           : $input-border-color;
$input-group-addon-border-color : $input-border-color;
$input-group-addon-padding-y    : $input-padding-y;
$input-group-addon-padding-x    : $input-padding-x;
$input-group-addon-border-size  : $input-border-size;
$input-group-addon-radius       : $border-radius-base;
$input-group-addon-line-height  : $input-line-height;

/**
  * @name Input Group
  *
  * @markup
  * <div class="input-group">
  *   <span class="input-group-addon" id="basic-addon1">@</span>
  *   <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  * </div>
  * <br>
  * <div class="input-group">
  *   <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  *   <span class="input-group-addon" id="basic-addon2">.00</span>
  * </div>
  * <br>
  * <label for="basic-url">Your vanity URL</label>
  * <div class="input-group">
  *   <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
  *   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  * </div>
  * <br>
  * <div class="input-group">
  *   <span class="input-group-addon">$</span>
  *   <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  *   <span class="input-group-addon">.00</span>
  * </div>
  */

/**
  * @name Button Addons
  *
  * @markup
  * <div class="input-group">
  *   <span class="input-group-btn">
  *     <button class="btn btn-secondary">Go!</button>
  *   </span>
  *   <input type="text" class="form-control" placeholder="Search for...">
  * </div>
  * <br>
  * <div class="input-group">
  *   <input type="text" class="form-control" placeholder="Search for...">
  *   <span class="input-group-btn">
  *     <a href="#777" class="btn btn-secondary">Go!</a>
  *   </span>
  * </div>
  * <br>
  * <div class="input-group">
  *   <span class="input-group-btn">
  *     <a href="#777" class="btn btn-secondary">Go!</a>
  *   </span>
  *   <input type="text" class="form-control" placeholder="Search for...">
  *   <span class="input-group-addon">Go!</span>
  *   <span class="input-group-btn">
  *     <a href="#777" class="btn btn-primary">Go!</a>
  *   </span>
  * </div>
  */

input-group {
  @at-root {

    .#{current-module()} {
      position: relative;
      display: flex;

      .form-control {
        position: relative;
        z-index: 2;
        //flex: 1;
        margin-bottom: 0;
      }

      // inline
      .#{namespace('form')}-inline & {
        @include flex(1);
        margin-right: $padding-base-horizontal;
      }
    }

    // addon
    .#{current-module()}-addon {

    }

    //
    .#{current-module()}-addon,
    .#{current-module()}-btn {
      white-space: nowrap;
      vertical-align: middle; // Match the inputs
    }

    // Text input groups
    .#{current-module()}-addon {
      padding: $input-group-addon-padding-y $input-group-addon-padding-x;
      text-align: center;
      color: $input-group-addon-text;
      background: $input-border-color;
      border: $input-group-addon-border-size solid $input-group-addon-border-color;
      @include border-radius($input-group-addon-radius);

      // Nuke default margins from checkboxes and radios to vertically center within.
      input[type="radio"],
      input[type="checkbox"] {
        margin-top: 0;
      }
    }

    // Button input groups
    .#{current-module()}-btn {
      position: relative;
      // Jankily prevent input button groups from wrapping with `white-space` and
      // `font-size` in combination with `inline-block` on buttons.
      font-size: 0;
      white-space: nowrap;

      // give icons the same line-height at the input
      i {
        line-height: inherit;
      }

      // Negative margin for spacing, position for bringing hovered/focused/actived
      // element above the siblings.
      > .btn {

        @include box-shadow(none);
        text-decoration: none;

        position: relative;
        + .btn {
          margin-left: -1px;
        }
        // Bring the "active" button to the front
        @include hover-focus-active {
          z-index: 2;
        }
      }

      // Negative margin to only have a 1px border between the two
      &:first-child {
        > .btn,
        > .btn-group {
          margin-right: -1px;
        }
      }
      &:last-child {
        > .btn,
        > .btn-group {
          z-index: 2;
          margin-left: -1px;
        }
      }
    }

    // remove border radius for middle elements
    .#{current-module()}-addon,
    .#{current-module()}-btn,
    .#{current-module()} .form-control {
      &:not(:first-child):not(:last-child) {
        @include border-radius(0);
      }
    }

    // Reset rounded corners
    .#{current-module()} .form-control:first-child,
    .#{current-module()}-addon:first-child,
    .#{current-module()}-btn:first-child > .btn,
    .#{current-module()}-btn:first-child > .btn-group > .btn,
    .#{current-module()}-btn:first-child > .dropdown-toggle,
    .#{current-module()}-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .#{current-module()}.#{current-module()}-btn:last-child > .btn-group:not(:last-child) > .btn {
      @include border-right-radius(0);
    }
    .#{current-module()}-addon:first-child {
      border-right: 0;
    }
    .#{current-module()} .form-control:last-child,
    .#{current-module()}-addon:last-child,
    .#{current-module()}-btn:last-child > .btn,
    .#{current-module()}-btn:last-child > .btn-group > .btn,
    .#{current-module()}-btn:last-child > .dropdown-toggle,
    .#{current-module()}-btn:first-child > .btn:not(:first-child),
    .#{current-module()}.#{current-module()}-btn:first-child > .btn-group:not(:first-child) > .btn {
      @include border-left-radius(0);
    }
    .#{current-module()}-addon:last-child {
      border-left: 0;
    }


    /**
     * @name Search Group
     *
     * @markup
     * <div class="input-group">
     *   <span class="input-group-addon">
     *     <i class="icon-search"></i>
     *   </span>
     *   <input type="search" class="form-control" placeholder="Search for...">
     *   <span class="input-group-addon clear">
     *     <i class="icon-times-circle icon-lg"></i>
     *   </span>
     *   <span class="input-group-btn">
     *     <a href="#777" class="btn btn-secondary">
     *       <i class="icon-refresh"></i>
     *     </a>
     *   </span>
     * </div>
     */
    .clear {
      display: none;
      position: relative;
      padding-left: 0;
      padding-right: 0;
      border: 0;

      i {
        position: absolute;
        right: $input-padding-x;
        margin-top: -2px;
        z-index: 3;
        color: $secondary-text-color;

        &:hover {
          cursor: pointer;
          color: $text-color;
        }
      }
    }


  }
}