$list-border-color              : $border-color;
$list-alternate-bg-color        : $alternate-row-bg;

$list-header-padding-x          : $padding-base-horizontal;
$list-header-padding-y          : $padding-base-vertical;
$list-header-background         : nth( $primaryPalette, 6 );
$list-header-color              : $inverse-text-color;

$list-item-padding-x            : $padding-base-horizontal;
$list-item-padding-y            : $padding-base-vertical;

$list-item-drawer-padding-x     : $padding-base-horizontal;
$list-item-drawer-padding-y     : $padding-base-vertical;
$list-item-drawer-bg            : $list-border-color;
$list-item-drawer-border-color  : #ddd;

$list-totals-background         : #fff;
$list-totals-padding-x          : $padding-base-horizontal;
$list-totals-padding-y          : $padding-base-vertical;

$list-actions-background        : #fff;
$list-actions-background-alt    : nth( $primaryPalette, 8 );
$list-actions-padding-x         : $padding-base-horizontal;
$list-actions-padding-y         : $padding-base-vertical;

list {
  @at-root {

    /**
     * @name List
     *
     * @state .list-striped - Stripe alternate rows
     *
     * @markup
     *   <div class="list">
     *     <ul>
     *       <li>Row</li>
     *       <li>Row</li>
     *       <li>Row</li>
     *       <li>Row</li>
     *     </ul>
     *   </div>
     */

    .#{current-module()} {

      > div > ul, > ul {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          border-bottom: 1px solid $list-border-color;

          &:last-of-type {
            border-bottom: 0;
          }

          &.empty {
            padding: $list-item-padding-y $list-item-drawer-padding-x;
          }

          &.sub-heading {
            background-color: $list-header-background;
            color: $list-header-color;
            text-align: center;
          }

        }

      }

    }


    // Zebra-striping
    //
    // Default zebra-stripe styles (alternating gray and transparent backgrounds)

    .#{current-module()}-striped {

      > div > ul, > ul {

        > li:nth-of-type(odd) {
          background-color: $list-alternate-bg-color;
        }

      }

    }


    /**
     * @name List Header
     *
     * @markup
     *   <div class="list-header">
     *     <div>Cell</div>
     *     <div>Cell</div>
     *     <div>Cell</div>
     *     <div>Cell</div>
     *   </div>
     */

    .#{current-module()}-header {

      @include display-flex;
      background: $list-header-background;
      color: $list-header-color;

      > div {
        @include flex(1);
        padding: $list-header-padding-y $list-header-padding-x;
      }

    }


    /**
     * @name List Row
     *
     * @markup
     *   <div class="list-row">
     *     <div>Cell</div>
     *     <div>Cell<br>New Line<br>New Line</div>
     *     <div>Cell</div>
     *     <div>Cell</div>
     *   </div>
     */

    .#{current-module()}-row {

      @include display-flex;
      @include align-items(center);

      > div {
        @include flex(1);
        padding: $list-item-padding-y $list-item-padding-x;
        word-wrap: break-word;

        &.action {
          text-align: center;
        }

      }

    }


    /**
      * @name List Drawer
      *
      * @markup
      *   <div class="list-drawer">
      *     <div class="list-row">
      *       <div>Cell</div>
      *       <div>Cell<br>New Line<br>New Line</div>
      *       <div>Cell</div>
      *       <div>Cell</div>
      *     </div>
      *     <div class="list-row">
      *       <div>Cell</div>
      *       <div>Cell<br>New Line<br>New Line</div>
      *       <div>Cell</div>
      *       <div>Cell</div>
      *     </div>
      *   </div>
      */

    .#{current-module()}-drawer {

      background: $list-item-drawer-bg;
      box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.1);

      .#{namespace('list')}-row {
        border-top: 1px solid $list-item-drawer-border-color;
      }

      .#{namespace('c')}-input > input:not(:checked) ~ .#{namespace('c')}-indicator {
        background: #fff;
      }

      .empty {
        padding: $list-item-padding-y $list-item-drawer-padding-x;
      }

    }


    /**
     * @name Infinite List
     *
     * @state .pull - Pull to refresh
     * @state .loading - Loading items
     *
     * @markup
     *   <div class="list list-infinite">
     *     <div><i class="icon-chevron-down"></i></div>
     *       <ul>
     *         <li>
     *           <div class="list-item">
     *             <div class="list-row">
     *               <div>Cell</div>
     *               <div>Cell<br>New Line<br>New Line</div>
     *               <div>Cell</div>
     *               <div>Cell</div>
     *             </div>
     *           </div>
     *           <div class="list-drawer">
     *             <div>
     *               <div class="list-row">
     *                 <div>Cell</div>
     *                 <div>Cell<br>New Line<br>New Line</div>
     *                 <div>Cell</div>
     *                 <div>Cell</div>
     *               </div>
     *               <div class="list-row">
     *                 <div>Cell</div>
     *                 <div>Cell<br>New Line<br>New Line</div>
     *                 <div>Cell</div>
     *                 <div>Cell</div>
     *               </div>
     *             <div>
     *           </div>
     *         </li>
     *         <li>
     *           <div class="list-item">
     *             <div class="list-row">
     *               <div>Cell</div>
     *               <div>Cell<br>New Line<br>New Line</div>
     *               <div>Cell</div>
     *               <div>Cell</div>
     *             </div>
     *           </div>
     *           <div class="list-drawer">
     *             <div>
     *               <div class="list-row">
     *                 <div>Cell</div>
     *                 <div>Cell<br>New Line<br>New Line</div>
     *                 <div>Cell</div>
     *                 <div>Cell</div>
     *               </div>
     *               <div class="list-row">
     *                 <div>Cell</div>
     *                 <div>Cell<br>New Line<br>New Line</div>
     *                 <div>Cell</div>
     *                 <div>Cell</div>
     *               </div>
     *             <div>
     *           </div>
     *         </li>
     *       </ul>
     *     <div><i class="icon-loading"></i></div>
     *   </div>
     */

    .#{current-module()}-infinite {

      > div {
        display: none;
        text-align: center;
        background: $list-item-drawer-bg;
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.1);
        padding: $list-item-padding-y $list-item-padding-x;
      }

      &.pull {
        > div:first-of-type {
          display: block;
        }
      }
      &.loading {
        > div:last-of-type {
          display: block;
        }
      }

    }


    /**
     * @name List Totals
     *
     * @markup
     *   <div class="list list-totals">
     *     <ul>
     *       <li>
     *         <div>Subtotal</div>
     *         <div class="total">$3.00</div>
     *         <div class="action"></div>
     *       </li>
     *       <li>
     *         <div>Tax</div>
     *         <div class="total">$1.00</div>
     *         <div class="action"></div>
     *       </li>
     *       <li>
     *         <div>Total</div>
     *         <div class="total">$1.00</div>
     *         <div class="action"></div>
     *       </li>
     *     </ul>
     *   </div>
     */

    .#{current-module()}-totals {

      text-align: right;
      background: $list-totals-background;

      > ul {
        border-top: 2px solid $input-border-color;
      }

      li {

        > div:first-of-type {
          font-weight: 700;

        }

      }

    }


    /**
     * @name List Actions
     *
     * @markup
     *   <div class="list-actions">
     *     <div>
     *       <button class="btn btn-success">Button</button>
     *     </div>
     *   </div>
     */

    .#{current-module()}-actions {

      background: $list-actions-background;

      > div {
        padding: $list-actions-padding-y $list-actions-padding-x;
        text-align: right;

        > .btn.pull-left {
          margin-right: 4px;
        }

      }

      p.message {
        display: inline-block;
        text-align: right;
        margin: 0;
        padding: 0 $list-actions-padding-x;
      }

      &:first-of-type {
        background: $list-actions-background-alt;
        border-top: 0;
      }

      &:not(:first-of-type) {
        > div {
          border-top: 2px solid $input-border-color;
        }
      }

    }

  }
}