$loading-padding-y: $padding-base-vertical;
$loading-padding-x: $padding-base-horizontal;

loading {
  @at-root {

    .#{current-module()} {
      width: 100%;
      p {
        text-align: center;
        margin: 0;
        padding: $loading-padding-y $loading-padding-x;
        color: $secondary-text-color;
        .icon-fail {
          font-size: 40px;
        }
      }
    }

  }
}

/**
 * special case loading page
 */
$pulse-name : namespace('pulse');

@include keyframes($pulse-name) {
  0% { @include scale(0.9);  }
  50% { @include scale(1);  }
  100% { @include scale(0.9);  }
}

#page > i.icon-pos {
  font-size: 40em;
  font-size: 50vh;
  line-height: 100vh;
  color: nth( $primaryPalette, 10 );
  width: 100%;
  text-align: center;
  @include animation($pulse-name 20s infinite linear);
}
