$menu-width             : 200px;
$menu-bg                : nth( $primaryPalette, 10 );
$menu-text-color        : $inverse-text-color;
$menu-item-padding-y    : $padding-base-vertical / 2;
$menu-item-padding-x    : $padding-base-horizontal;
$menu-item-hover-color  : darken($link-color, 5%);

/**
 * @name Menu Spec
 *
 * @markup
 *  <div class="menu-open">
 *    <nav id="menu">
 *      <ul>
 *        <li><a href="#777"><i class="icon-woocommerce-pos icon-lg"></i> Item</a></li>
 *        <li><a href="#777"><i class="icon-products icon-lg"></i> Item</a></li>
 *        <li class="support"><a href="#777"><i class="icon-support icon-lg"></i> Item</a></li>
 *        <li><a href="#777"><i class="icon-wordpress icon-lg"></i> Item</a></li>
 *      </ul>
 *    </nav>
 *  </div>
 */

menu {
  @at-root {

    ##{current-module()} {

      width: $menu-width;
      background: $menu-bg;
      position: fixed;
      height: 100%;
      top: 0;
      z-index: 9999;
      @include box-shadow(inset -10px 0 6px -9px rgba(0, 0, 0, .7));
      @include translate3d(-($menu-width),0,0);
      @include transition(transform .2s cubic-bezier(.16, .68, .43, .99));

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          border-top: 1px solid rgba(255, 255, 255, .1);

          a {
            display: block;
            color: $menu-text-color;
            padding: $menu-item-padding-y $menu-item-padding-x;
            text-decoration: none;

            &:hover {
              background-color: $menu-item-hover-color;
              color: $menu-text-color;
            }

            i {
              margin-right: $menu-item-padding-x;
            }
          }

          &.support a {
            color: nth( $accentPalette, 8 );

            &:hover {
              color: $menu-text-color;
              background-color: nth( $accentPalette, 8 );

            }
          }

          &:first-of-type {
            border: 0;
          }

        }

      }

    }

    // open
    .#{current-module()}-open ##{current-module()} {
      @include translate3d(0,0,0);
    }

  }
}