$zindex-modal                 : 1040;
$modal-fade-in-name           : namespace('modal-fade-in');
$modal-fade-out-name          : namespace('modal-fade-out');

$modal-header-border-color    : #e5e5e5 !default;
$modal-footer-border-color    : $modal-header-border-color !default;

$modal-content-bg             : #fff !default;
$modal-content-border-color   : rgba(0,0,0,.2) !default;
$modal-border-radius          : $border-radius-base;

$modal-padding-y              : $padding-base-vertical;
$modal-padding-x              : $padding-base-horizontal;

$modal-title-padding-y        : $padding-base-vertical;
$modal-title-padding-x        : $padding-base-horizontal;
$modal-title-line-height      : $line-height-base !default;
$modal-close-padding-y        : $padding-base-vertical;
$modal-close-padding-x        : $padding-base-horizontal;

$modal-footer-padding-y       : $padding-base-vertical;
$modal-footer-padding-x       : $padding-base-horizontal;

$modal-body-padding-y         : $padding-base-vertical;
$modal-body-padding-x         : $padding-base-horizontal;

$modal-footer-padding-y       : $padding-base-vertical;
$modal-footer-padding-x       : $padding-base-horizontal;

$modal-lg                     : 900px !default;
$modal-md                     : 600px !default;
$modal-sm                     : 300px !default;

$raw-bg                       : $input-bg;
$raw-border-color             : $modal-header-border-color;

/**
  * @name Modal
  *
  * @state .modal-error - Error Modal
  *
  * @markup
  <div class="modal-content">
    <div id="1">
      <div class="modal-header">
        <div> <!-- Marionette region -->
          <h4 class="modal-title">Modal title</h4>
          <button class="btn">
            <i class="icon-times"></i>
            <span>Close</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div> <!-- Marionette region -->
          <p>One fine body&hellip;</p>
        </div>
      </div>
      <div class="modal-footer">
        <div> <!-- Marionette region -->
          <p class="message text-success">Status message <i class="icon-check"></i></p>
          <button type="button" class="btn pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  */

modal {
  @at-root {

    .#{current-module()} {
      position: fixed;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      z-index: $zindex-modal;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $modal-padding-y * 3 $modal-padding-x;
    }

    // overlay
    .#{current-module()}-overlay {
      @include animation($modal-fade-in-name 0.5s);
      position: fixed;
      background: rgba(0, 0, 0, .4);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .#{namespace('modal')}.#{namespace('modal-closing')} & {
        @include animation($modal-fade-out-name 0.5s);
      }
    }

    // Content - The Modal
    .#{current-module()}-content {
      @include animation($modal-fade-in-name 0.5s);
      position: relative;
      background-color: $modal-content-bg;
      background-clip: padding-box;
      border: 1px solid $modal-content-border-color;
      border-radius: $modal-border-radius;
      @include box-shadow(0 3px 9px rgba(0,0,0,.5));
      margin: 0 auto;
      // Remove focus outline from opened modal
      outline: 0;

      .#{namespace('modal')}.#{namespace('modal-closing')} & {
        @include animation($modal-fade-out-name 0.5s);
      }
    }

    // Modal header
    // Top section of the modal w/ title and dismiss
    .#{current-module()}-header {
      border-bottom: 1px solid $modal-header-border-color;

      > div {
        @include display-flex;
      }

      /**
       * Error modal
       */
      .#{namespace('modal-error')} & {
        background: nth($paletteRed, 8);
        border-color: lighten(nth($paletteRed, 8), 5%);
        color: $inverse-text-color;

        .#{namespace('btn')} {
          @include button-variant($inverse-text-color, nth($paletteRed, 8), lighten(nth($paletteRed, 8), 5%));
        }
      }

    }

    // Close icon
    .#{current-module()}-header .#{namespace('btn')} {
      @include flex(0 1 auto);
      border-width: 0;
      border-left-width: 1px;
      border-bottom-width: 1px;
      margin-bottom: -1px;
      @include border-radius(0);
      @include box-shadow(none);
      padding: $modal-close-padding-y $modal-close-padding-x;

      i {
        padding: 5px 10px;
        line-height: inherit;
      }
    }

    // Title text within header
    .#{current-module()}-title {
      margin: 0;
      line-height: $modal-title-line-height;
      padding: $modal-title-padding-y $modal-title-padding-x;
      @include flex(1);
    }

    // Modal body
    // Where all modal content resides (sibling of .modal-header and .modal-footer)
    .#{current-module()}-body {
      position: relative;
      padding: $modal-body-padding-y $modal-body-padding-x;
      @include clearfix();

      p {
        margin-top: 0;
      }

      .raw-output {
        font-size: $font-size-sm;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background: $raw-bg;
        border: 1px solid $raw-border-color;

        h5 {
          font-size: $font-size-sm;
          line-height: 1;
          color: $secondary-text-color;
          padding: $modal-body-padding-y $modal-body-padding-x 0;
          margin: 0;
        }

        p {
          font-family: monospace;
          margin: 0;
          padding: $modal-body-padding-y $modal-body-padding-x;
        }
      }
    }

    // Footer (for actions)
    .#{current-module()}-footer {
      padding: $modal-footer-padding-y $modal-footer-padding-x;
      text-align: right; // right align buttons
      border-top: 1px solid $modal-footer-border-color;
      @include clearfix(); // clear it in case folks use .pull-* classes on buttons

      // Properly space out buttons
      .btn + .btn {
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
        margin-left: 5px;
      }
      // but override that for button groups
      .btn-group .btn + .btn {
        margin-left: -1px;
      }
      // and override it for block buttons as well
      .btn-block + .btn-block {
        margin-left: 0;
      }

      p.message {
        display: inline-block;
        text-align: right;
        margin: 0;
        padding: 0 $modal-footer-padding-x;
      }
    }

    // modal sizes
    @include media-breakpoint-up(sm) {
      .#{current-module()}-content {
        max-width: $modal-md;
      }

      .modal-sm .#{current-module()}-content {
        max-width: $modal-sm;
      }
    }

    @include media-breakpoint-up(md) {
      .modal-lg .#{current-module()}-content {
        max-width: $modal-lg;
      }
    }

    // keyframes
    @include keyframes($modal-fade-in-name) {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    @include keyframes($modal-fade-out-name) {
      0% { opacity: 1; }
      100% { opacity: 0; }
    }

  }
}