#modal {
  .modal-content {
    @include border-radius(0);
  }
  .modal-header {
    padding: 0;
    position: relative;
    background-color: #fcfcfc;
    h1 {
      padding: 0 16px;
      font-size: 22px;
      line-height: 50px;
      margin: 0;
    }
    .action-close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #777;
      height: 50px;
      width: 50px;
      text-align: center;
      border-left: 1px solid #ddd;
      line-height: 50px;
      background: transparent;
      @include transition-property(all);
      @include transition-duration(.1s);
      @include transition-timing-function(ease-in-out);
    }
    .action-close:hover {
      color: #000;
      border-color: #ccc;
      background: #ddd;
      outline: 0;
    }
  }
  .modal-body {
    font-size: 14px;
    line-height: 1.4;
    table.form-table {
      width: 100%;
      th {
        font-weight: 600;
        width: 150px;
        text-align: left;
        padding: 10px 10px 10px 0;
        img {
          margin: 2px -10px 0 0;
          float: right;
        }
      }
      td {
        padding: 10px 0 10px 10px;
      }
      input[type="text"] {
        width: 100%;
      }
      textarea {
        width: 100%;
        height: 50px;
      }
    }
  }
  .modal-footer {
    padding: 11px;
    p.response {
      display: inline-block;
      margin: 0 10px 0 0;
      text-align: right;
      line-height: 20px;
      .spinner {
        display: inline-block;
        float: none;
        margin: 0;
      }
      i {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}

// hotkeys
ul.hotkeys {
  @include column-count(2);
  padding: 0;
  margin: 0;
  li {
    padding: $spacing/4 0;
    input {
      max-width: 80px;
      margin-right: $spacing/2;
    }
  }
}