#modal {
  .modal-content {
    @include border-radius(0);
  }
  .modal-header {
    padding: 0;
    position: relative;
    background-color: #fcfcfc;
    h1 {
      padding: 0 16px;
      font-size: 22px;
      line-height: 50px;
      margin: 0;
    }
    i {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #777;
      height: 50px;
      width: 50px;
      text-align: center;
      border-left: 1px solid #ddd;
      line-height: 50px;
      background: transparent;
      @include transition-property(all);
      @include transition-duration(.1s);
      @include transition-timing-function(ease-in-out);
    }
    i:hover {
      color: #000;
      border-color: #ccc;
      background: #ddd;
      outline: 0;
    }
  }
  .modal-body {
    @include clearfix;
  }
  .modal-footer {
    padding: 11px;
    p.message {
      display: inline-block;
      margin: 0 10px 0 0;
      text-align: right;
      line-height: 20px;
      i.icon {
        margin-right: 5px;
        vertical-align: middle;
      }
      &.success {
        color: $state-success-text;
      }
      &.error {
        color: $state-danger-text;
      }
    }
  }
}

// hotkeys
ul.hotkeys {
  @include column-count(2);
  padding: 0;
  margin: 0;
  li {
    padding: $spacing/4 0;
    input {
      max-width: 80px;
      margin-right: $spacing/2;
    }
  }
}