$numpad-key-spacing     : $padding-base-horizontal / 3;
$numpad-key-height      : 2rem;

/**
 * @name Numpad Spec
 *
 * @markup
 *  <div class="numpad">
 *    <div class="numpad-header">
 *      <strong>Title</strong>
 *      <div class="input-group">
 *        <span class="input-group-btn">
 *          <a href="#777" class="btn btn-secondary">$</a>
 *        </span>
 *        <input type="text" class="form-control">
 *        <span class="input-group-btn">
 *          <a href="#777" class="btn btn-primary">%</a>
 *        </span>
 *      </div>
 *    </div>
 *    <div class="numpad-body">
 *      <div class="three-cols">
 *        <div class="row">
 *          <button class="btn">1</button>
 *          <button class="btn">2</button>
 *          <button class="btn">3</button>
 *        </div>
 *        <div class="row">
 *          <button class="btn">4</button>
 *          <button class="btn">5</button>
 *          <button class="btn">6</button>
 *        </div>
 *        <div class="row">
 *          <button class="btn">7</button>
 *          <button class="btn">8</button>
 *          <button class="btn">9</button>
 *        </div>
 *        <div class="row">
 *          <button class="btn">0</button>
 *          <button class="btn">00</button>
 *          <button class="btn">.</button>
 *        </div>
 *      </div>
 *      <div>
 *        <button class="btn"><i class="icon-delete"></i></button>
 *        <button class="btn">+/-</button>
 *        <button class="btn two-rows"><small>return</small></button>
 *      </div>
 *      <div>
 *        <button class="btn">$10.00</button>
 *        <button class="btn">$50.00</button>
 *        <button class="btn">$100.00</button>
 *        <button class="btn">$1000.00</button>
 *      </div>
 *    </div>
 *  </div>
 */

numpad {
  @at-root {

    .#{current-module()} {

    }

    .#{current-module()}-header {
      @include display-flex;
      @include align-items(center);

      > strong {
        @include flex(1);
      }

      > div {
        @include flex(0 1 auto);
      }
    }


    .#{current-module()}-body {

      @include display-flex;

      > div {
        @include flex(1);
        @include display-flex;
        @include flex-direction(column);

        &.two-cols {
          @include flex(2);
        }

        &.three-cols {
          @include flex(3);
        }

        &.cash {
          @include flex(2);
        }
      }

      .row {
        @include display-flex;
      }

      button {
        font-size: 1.5rem;
        @include flex(1 0 $numpad-key-height);
        min-height: $numpad-key-height;
        margin: $numpad-key-spacing;

        &.two-rows {
          $two-rows-height: ($numpad-key-height*2.5 + $numpad-key-spacing*2);
          @include flex-basis($two-rows-height);
        }
      }

      // tweak the popover-body padding
      .popover & {
        padding: ($numpad-key-spacing * 3) - $numpad-key-spacing !important;
      }

    }


  }
}