$panel-bg                   : #fff !default;
$panel-header-bg            : nth( $primaryPalette, 6 );
$panel-header-text-color    : $inverse-text-color;
$panel-footer-bg            : nth( $primaryPalette, 2 );
$panel-footer-color         : darken( nth( $primaryPalette, 2 ), 25% );
$panel-footer-padding-y     : $padding-base-vertical / 2;
$panel-footer-padding-x     : $padding-base-horizontal;

/**
 * @name Panel Spec
 *
 * @markup
 *   <section style="height: 100px">
 *     <div class="panel">
 *       <div class="panel-header">
 *         <div>Header</div>
 *       </div>
 *       <div class="panel-body">
 *         <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim quam sed lectus porta porttitor. Donec sit amet mi ante. Morbi facilisis massa ac pretium blandit. Donec auctor dolor eu laoreet imperdiet. Integer ac vestibulum sapien, at porttitor enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed massa justo, ornare at mattis eget, tincidunt vel enim. Etiam eu tellus vel enim commodo posuere sit amet at mauris. Aliquam erat volutpat. Donec sit amet justo tristique, vulputate leo ut, porta mauris. Cras neque nisi, malesuada ac velit at, pulvinar pulvinar quam.</div>
 *       </div>
 *       <div class="panel-footer">
 *         <div>Footer</div>
 *       </div>
 *     </div>
 *   </section>
 */

panel {
  @at-root {

    .#{current-module()} {
      @include display-flex;
      @include flex-direction(column);
      height: 100%;
      width: 100%;

      > div {
        @include flex(0 0 auto);

        &.#{namespace('panel')}-body {
          @include flex(0 1 auto);
        }
      }
    }

    /**
     * @name Panel Header Spec
     *
     * @markup
     *   <div class="panel">
     *     <div class="panel-header">
     *       <div>
     *         <h4>Header</h4>
     *       </div>
     *     </div>
     *   </div>
     */
    .#{current-module()}-header {
      background: $panel-header-bg;
      color: $panel-header-text-color;

      h4, p {
        text-align: center;
        margin: 0;
        padding: 1em 0;
      }

      p {
        padding-top: 0;
      }

    }

    // Body
    .#{current-module()}-body {
      background: $panel-bg;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      /**
       * prevent body from collapsing completely
       * @todo: panel-body can be 1 row, so anything over 20px is too much
       */
      min-height: 20px;
    }

    /**
     * @name Panel Footer Spec
     *
     * @markup
     *   <div class="panel">
     *     <div class="panel-footer">
     *       <div>
     *         <small class="info">Status information</small>
     *       </div>
     *     </div>
     *   </div>
     */
    .#{current-module()}-footer {
      > div {
        background: $panel-footer-bg;
        @include clearfix();
      }

      .info {
        padding: $panel-footer-padding-y $panel-footer-padding-x;
        color: $panel-footer-color;
        float: right;
        font-style: italic;
        line-height: 1;
      }

    }

  }
}