$zindex-popover                      : 1060;
$popover-bg                          : nth( $primaryPalette, 8 );
$popover-text-color                  : $inverse-text-color;
$popover-border-radius               : $border-radius-base;
$popover-arrow-size                  : 8px;
$useDropShadow                       : true;

$popover-header-padding-y            : $padding-base-vertical;
$popover-header-padding-x            : $padding-base-horizontal;
$popover-body-padding-y              : $padding-base-vertical;
$popover-body-padding-x              : $padding-base-horizontal;
$popover-footer-padding-y            : $padding-base-vertical;
$popover-footer-padding-x            : $padding-base-horizontal;

/**
 * @name Popover
 *
 * @markup
   <div class="popover popover-theme-arrows popover-element popover-open popover-element-attached-top popover-element-attached-center">
    <div class="popover-content">
      <div class="popover-header">Popover</div>
      <div class="popover-body">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      <div class="popover-footer">Footer</div>
    </div>
  </div>
 */

popover {
  @at-root {

    @include tether($themePrefix: current-module());
    @include tether-theme-arrows($themePrefix: current-module(), $arrowSize: $popover-arrow-size, $backgroundColor: $popover-bg, $color: $popover-text-color, $useDropShadow: $useDropShadow, $borderRadius: $popover-border-radius);

    .#{current-module()}-element.#{current-module()}-theme-arrows {

      z-index: $zindex-popover;

      .#{namespace('popover')}-content {

      }

      .#{namespace('popover')}-header {
        padding: $popover-header-padding-y $popover-header-padding-x;
        border-bottom: 1px solid lighten($popover-bg, 10%);
      }

      .#{namespace('popover')}-body {
        padding: $popover-body-padding-y $popover-body-padding-x;
      }

      .#{namespace('popover')}-footer {
        padding: $popover-footer-padding-y $popover-footer-padding-x;
      }

    }


  }
}