print-preview {
  @at-root {

    .#{current-module()} {
      max-width: 210mm;
      margin: 0 auto;
    }

    .#{current-module()}-iframe {
      width: 100%;
      background-color: #fff;
      border: 1px solid $border-color;
    }

    .#{current-module()}-actions {
      text-align: right;
      padding: $padding-base-vertical $padding-base-horizontal;
    }

  }
}