print-preview {
  @at-root {

    .#{current-module()} {
      max-width: 210mm;
      margin: 0 auto;
    }

    .#{current-module()}-iframe {

      overflow: hidden;

      iframe {
        width: 100%;
        height: 100%;
        border: 1px solid $border-color;
      }
    }

    .#{current-module()}-actions {
      text-align: right;
      padding: $padding-base-vertical $padding-base-horizontal;
    }

  }
}