products {
  @at-root {

    .#{current-module()} {

      // Expand/Close drawer links
      .close-all {
        display: none;
      }
      .drawer-open {
        .close-all {
          display: block;
        }
        .expand-all {
          display: none;
        }
      }

    }

    /**
     * @name Products Item
     *
     * @markup
     *   <div class="products">
     *     <div class="list-item products-item">
     *       <div> <!-- Marionette region -->
     *         <div class="img">
     *           <img src="http://demo.woopos.com.au/wp-content/plugins/woocommerce/assets/images/placeholder.png">
     *         </div>
     *         <div class="title">
     *           <strong>Product Title</strong>
     *           <i class="icon-info-circle" data-toggle="tooltip" title="Product Attributes"></i>
     *           <dl>
     *             <dt>Variation:</dt>
     *             <dd><a href="#777">Variant</a>, <a href="#777">Variant</a></dd>
     *             <dt>Variation:</dt>
     *             <dd><a href="#777">Variant</a>, <a href="#777">Variant</a>, <a href="#777">Variant</a></dd>
     *             <dt></dt>
     *             <dd><a class="expand-all" href="#777">Expand all</a> <a class="close-all" href="#777">Close all</a></dd>
     *           </dl>
     *           <small>3 in stock</small>
     *         </div>
     *         <div class="price">
     *           $30.00
     *         </div>
     *         <div class="action">
     *           <a href="#777" class="btn btn-circle btn-success">
     *             <i class="icon-chevron-right icon-lg"></i>
     *           </a>
     *         </div>
     *       </div>
     *     </div>
     *   </div>
     */

    .#{current-module()}-list {

      .img {
        @include flex(0 1 20%);

        img {
          width: 100%;
          max-width: 90px;
        }
      }

      .title {
        @include flex(1);

        small {
          display: block;
        }
      }

      .price {
        @include flex(0 1 20%);
      }

      .action {
        @include flex(0 1 48px);

        // icon color
        a {
          display: block;
          color: $brand-success;
          &:hover {
            color: darken($brand-success, 10%);
          }
        }
      }

    }


  }
}