receipt {
  @at-root {

    /**
     *
     */

    .#{current-module()} {

      .qty {
        @include flex(0 1 15%);
      }

      .title {
        @include flex(1);
      }

      .price {
        text-align: right;
        @include flex(0 1 20%);
      }

      .total {
        text-align: right;
        @include flex(0 1 20%);
      }

      .action {
        @include flex(0 1 52px);
      }

    }

    /**
     *
     */

    .#{current-module()}-status {

      .paid {
        background-color: nth($paletteGreen, 6);
      }

      .unpaid {
        background-color: nth($paletteOrange, 6);
      }

      a {
        color: $inverse-text-color;
      }

    }

  }
}
