/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

// move .two-column to body?
div#page:not(.two-column) #main, .two-column #main > div {
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing/2;
  @include display-flex;
}

.two-column #main {
  > div {
    top: 70px;
    padding: $spacing/2 0 0 $spacing/2;
    #left, #right {
      @include display-flex;
      @include flex(1);
      padding: 0 $spacing/2 $spacing/2 0;
    }
  }
  &.left-active {
    #right {
      display: none;
    }
  }
  &.right-active {
    #left {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  #tabs {
    display: none;
  }
  .two-column #main {
    > div {
      top: 38px;
    }
    &.left-active #right, &.right-active #left {
      @include display-flex;
    }
  }
}