/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

#header {
  @include display-flex;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  > div, > h1 {
    @include flex(1);
  }
}

#main:not(.two-column), #main.two-column > div {
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing/2;
  @include display-flex;
}

#main.two-column {
  > div {
    top: 70px;
    padding: $spacing/2 0 0 $spacing/2;
    #left, #right {
      @include display-flex;
      @include flex(1);
      padding: 0 $spacing/2 $spacing/2 0;
    }
  }
  &.left-active {
    #right {
      display: none;
    }
  }
  &.right-active {
    #left {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  .column-tabs {
    display: none;
  }
  #main.two-column {
    > div {
      top: 38px;
    }
    &.left-active #right, &.right-active #left {
      @include display-flex;
    }
  }
}

.module {
  width: 100%;
  @include display-flex;
  @include flex-direction(column);
  > div {
    background: white; /* default module background */
    @include flex-shrink(0); /* default don't shrink */
  }
  .list-actions {
    > div {
      background: nth( $primaryPalette, 8 );
      padding: $spacing/3;
//      border-bottom: 1px solid $list-border-color;
      > .btn {
        float: right;
        margin-left: $spacing/3;
      }
    }
  }
  .list-header {
    @include display-flex;
    background-color: nth( $primaryPalette, 6 );
    color: $inverse-text-color;
//    padding-right: 16px;
    > div {
      padding: $spacing/3;
      @include flex(1);
    }
  }
  .list {
    @include flex-shrink(1);
    overflow: auto;
    @include display-flex;
      ul {
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $list-border-color;
          @include display-flex;
          @include align-items(center);
          > div {
            padding: $spacing/3;
            @include flex(1);
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
        li.empty > div {
          @include flex(1);
        }
      }
    ul.striped {
      li:nth-of-type(even) {
        background: $alternate-bg;
      }
    }
  }
  .list-totals {
    ul {
      width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      border-top: 2px solid darken($list-border-color, 6%);
      border-bottom: 2px solid darken($list-border-color, 6%);
      li {
        border-bottom: 1px solid $list-border-color;
        @include display-flex;
        @include align-items(center);
        > div {
          padding: $spacing/3;
          &:first-of-type {
            font-weight: bold;
            @include flex(1);
          }
          &.total {
            white-space: nowrap;
          }
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
  .list-footer {
    background: nth( $primaryPalette, 2 );
  }
}