.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  @include box-sizing(border-box);
}

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;

  /* faux select input */
  .select2-choice {
    @include display-flex;
    @include align-items(center);

    color: $select2-text-color;
    text-decoration: none;
    border: 1px solid $select2-border-color;
    @include border-radius($select2-border-radius);

    -webkit-touch-callout: none;
    @include user-select(none);

    /* selection */
    > .select2-chosen {
      background: $select2-input-bg;
      @include flex(1);
      padding: $select2-spacing $select2-spacing*2;
      @include border-radius($select2-border-radius 0 0 $select2-border-radius);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    /* arrow */
    .select2-arrow {
      background: $select2-arrow-bg;
      border-left: 1px solid $select2-border-color;
      @include border-radius(0 $select2-border-radius $select2-border-radius 0);
      padding: $select2-spacing $select2-spacing*2;
      font-family: WooCommercePOS;

      b {
        &:before {
          content: "\f107";
        }
      }
    }

    /* close */
    abbr {

      cursor: pointer;
      outline: 0;
      padding: $select2-spacing $select2-spacing*2;
      font-family: WooCommercePOS;
      color: $select2-close-color;
      background: $select2-input-bg;

      &:before {
        content: "\f057";
      }

      &.select2-search-choice-close {
        display: none;
      }
    }

  }

  /* allow close */
  &.select2-allowclear {
    .select2-choice  abbr.select2-search-choice-close {
      display: block;
    }
  }

  /* above */
  &.select2-drop-above {
    .select2-choice {
      border-bottom-color: $select2-border-color;
      @include border-radius(0 0 $select2-border-radius $select2-border-radius);
    }
  }

  /* disabled styles */
  &.select2-container-disabled .select2-choice {
    background-color: $select2-disabled-bg;
    border: 1px solid $select2-border-color;
    cursor: default;
  }

  &.select2-container-disabled .select2-choice .select2-arrow {
    background-color: $select2-disabled-bg;
    border-left: 0;
  }

  &.select2-container-disabled .select2-choice abbr {
    display: none;
  }
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* select search */
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;

  background: $select2-drop-bg;
  border: 1px solid $select2-border-color;

  @include border-radius(0 0 $select2-border-radius $select2-border-radius);

  &.select2-drop-above {
    @include border-radius($select2-border-radius $select2-border-radius 0 0);
    margin-top: 1px;
  }

  /* select search */
  .select2-search {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
    padding: $select2-spacing;

    input {
      border: 1px solid $select2-border-color;
      padding: $select2-spacing $select2-spacing*2;
      outline: 0;
      width: 100%;
    }
  }

  /* hide search box */
  &.no-search {
    .select2-search {
      display: none;
    }
  }

  /* results */
  .select2-results {
    max-height: 200px;
    padding: 0 0 0 $select2-spacing;
    margin: $select2-spacing;
    margin-left: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    ul.select2-result-sub {
      margin: 0;
      padding-left: 0;

      li {
        list-style: none;
        display: list-item;
        background-image: none;

        &.select2-result-with-children > .select2-result-label {
          font-weight: bold;
        }
      }

      em {
        font-style: normal;
      }
    }

    .select2-result-label {
      padding: 3px 7px 4px;
      margin: 0;
      cursor: pointer;

      min-height: 1em;

      -webkit-touch-callout: none;
      @include user-select(none);
    }

    .select2-highlighted {
      background: #3875d7;
      color: #fff;

      em {
        background: transparent;
      }

      ul {
        background: #fff;
        color: #000;
      }
    }

    .select2-no-results,
    .select2-searching,
    .select2-ajax-error,
    .select2-selection-limit {
      display: list-item;
      padding-left: 5px;
    }

    .select2-disabled {
      background: $select2-disabled-bg;
      display: list-item;
      cursor: default;

      &.select2-highlighted {
        color: #666;
        background: $select2-disabled-bg;
        display: list-item;
        cursor: default;
      }
    }

    .select2-selected {
      display: none;
    }

    .select2-ajax-error {
      color: $select2-error-text-color;
    }
  }

}

.select2-drop-auto-width {
  border-top: 1px solid $select2-border-color;
  width: auto;
}

.select2-container-active{
  .select2-choice,
  .select2-choices {
    outline: none;
  }
}

.select2-dropdown-open {
  .select2-choice {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .select2-arrow {
      b {
        &:before {
          content: "\f106";
        }
      }
    }
  }

  &.select2-drop-above {
    .select2-choice,
    .select2-choices {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-results-dept-1 .select2-result-label { padding-left: 20px }
.select2-results-dept-2 .select2-result-label { padding-left: 40px }
.select2-results-dept-3 .select2-result-label { padding-left: 60px }
.select2-results-dept-4 .select2-result-label { padding-left: 80px }
.select2-results-dept-5 .select2-result-label { padding-left: 100px }
.select2-results-dept-6 .select2-result-label { padding-left: 110px }
.select2-results-dept-7 .select2-result-label { padding-left: 120px }

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
  &.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
  }
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* multiselect */
.select2-container-multi {

  /* multiselect list */
  .select2-choices {
    background: $select2-input-bg;
    border: 1px solid $select2-border-color;
    padding: 0 5px 0 0;
    cursor: text;
    overflow: hidden;
    margin: 0;

    /* multiselect items */
    li {
      padding: 1px $select2-spacing*2;
      margin: $select2-spacing;
      margin-right: 0;
      float: left;
      list-style: none;
    }

    /* multiselect search item */
    li.select2-search-field {
      padding-left: 0;
      margin-left: 0;
      white-space: nowrap;
      margin: 0;
      max-width: 100px !important;
      input {
        margin-left: 0;
        outline: 0;
        border: 0;
        @include box-shadow(none);
        background: transparent !important;
      }
    }

    /* multiselect chosen item */
    li.select2-search-choice {
      cursor: default;
      border: 1px solid $select2-border-color;
      background: $select2-disabled-bg;

      @include border-radius($select2-border-radius);

      -webkit-touch-callout: none;
      @include user-select(none);

      > div {
        float: right;
      }

      /* close */
      .select2-search-choice-close {
        font-family: WooCommercePOS;
        text-decoration: none;
        color: $select2-close-color;
        margin-right: $select2-spacing;
        &:before {
          content: "\f057";
        }
      }
    }

    .select2-search-choice-focus {
      background: #d4d4d4;
    }
  }

  /* active styles */
  &.select2-container-active {
    .select2-choices {
      outline: none;
    }
  }

  /* disabled styles */
  &.select2-container-disabled {

    .select2-choices {
      background-color: $select2-disabled-bg;
      border: 1px solid #ddd;
      cursor: default;

      .select2-search-choice {
        padding: 3px 5px 3px 5px;
        border: 1px solid #ddd;
        background-color: $select2-disabled-bg;

        .select2-search-choice-close {
          display: none;
        }
      }
    }
  }
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-default {
  color: #999 !important;
}

/* rtl */
html[dir="rtl"] {
  .select2-container .select2-choice .select2-arrow {
    border-left: none;
    border-right: 1px solid $select2-border-color;
  }
  .select2-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
  }
  .select2-container-multi .select2-choices {
    padding: 0 0 0 5px;
    li {
      float: right;
    }

    .select2-search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 18px 3px 5px;
    }
  }
}