.support-module {
	.list {
		ul li {
			.label {
				@include flex(0 1 25%);
			}
      .input[placeholder]:empty:before {
        content: attr(placeholder);
      }
      .input[placeholder]:empty:focus:before {
        content: "";
      }
			textarea {
				width: 100%;
				height: 100px;
			}
		}
	}
}

.status-module {
	.list {
		ul li {
			.pass, i.icon-check {
				color: $state-success-text;
			}
			.fail, i.icon-times {
				color: $state-danger-text;
			}
			> div.title {
				@include flex(0 1 25%);
			}
		}
	}
}