#support-form {
	h4 {
		margin: 0;
		padding: $spacing/2;
		border-bottom: 1px solid $dark-border-color;
	}
	fieldset {
		margin: 0;
		padding: $spacing/2;
		border-bottom: 1px solid $border-color;
	}
	textarea {
		height: 100px;
	}
	.actions {
		border-top: 1px solid $dark-border-color;
	}
}

#system-status {
	h4 {
		margin: 0;
		padding: $spacing/2;
		border-bottom: 1px solid $dark-border-color;
	}
	table { 
		tr.pass td:first-of-type {
			color: $brand-success;
		}
		tr.fail td:first-of-type {
			color: $brand-danger;
		}
		tr:first-of-type td {
			border-top: 0;
		}
		td {
			padding: $spacing/2;
		}
	}
}