.tabs {
	background-color: darken($border-color, 5%);
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			background-color: $border-color;
			padding: $spacing/4 $spacing/2;
			margin: 0 1px 0 0;
			cursor: pointer;
			a {
				color: $text-color;
				&:hover {
					color: $brand-danger;
				}
			}
			&.active {
				background-color: $content-background;
			}
			&:hover {

			}
		}
	}
}
.infinite-tabs {
	overflow-x: hidden;
}