$zindex-tooltip         : 1070;
$tooltip-color          : #fff;
$tooltip-bg             : #000;
$tooltip-opacity        : .9 !default;
$tooltip-font-size      : $font-size-sm;
$tooltip-arrow-size     : 5px !default;
$tooltip-max-width      : 200px !default;
$tooltip-border-radius  : $border-radius-base;
$tooltip-padding-y      : $padding-base-vertical / 2;
$tooltip-padding-x      : $padding-base-vertical;
$useDropShadow          : false;


/**
 * @name Tooltip
 *
 * @markup
 *   <div class="class="tooltip tooltip-theme-arrows tooltip-element tooltip-open tooltip-element-attached-bottom tooltip-element-attached-center"">
 *     <div class="tooltip-content">Sed posuere consectetur est at lobortis.</div>
 *   </div>
 */

tooltip {
  @at-root {

    @include tether($themePrefix: current-module());
    @include tether-theme-arrows($themePrefix: current-module(), $arrowSize: $tooltip-arrow-size, $backgroundColor: $tooltip-bg, $color: $tooltip-color, $useDropShadow: $useDropShadow, $borderRadius: $tooltip-border-radius);

    // Just a few additions
    .#{current-module()}-element.#{current-module()}-theme-arrows {

      z-index: $zindex-tooltip;
      opacity: $tooltip-opacity;
      max-width: $tooltip-max-width;

      .#{namespace('tooltip')}-content {
        padding: $tooltip-padding-y $tooltip-padding-x;
        font-size: $tooltip-font-size;
        text-align: center;
      }

    }


  }
}