/**
 * @name Headings
 *
 * @markup
 *   <h1>Heading 1</h1>
 *   <h2>Heading 2</h2>
 *   <h3>Heading 3</h3>
 *   <h4>Heading 4</h4>
 *   <h5>Heading 5</h5>
 *   <h6>Heading 6</h6>
 */

$headings-font-family : $font-family-base;
$headings-font-weight : 500 !default;
$headings-line-height : 1.1 !default;
$headings-color       : inherit !default;
$font-size-h1         : 2.5rem !default;
$font-size-h2         : 2rem !default;
$font-size-h3         : 1.75rem !default;
$font-size-h4         : 1.5rem !default;
$font-size-h5         : 1.25rem !default;
$font-size-h6         : 1rem !default;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }  // 35px
h2, .h2 { font-size: $font-size-h2; }  // 28px
h3, .h3 { font-size: $font-size-h3; }  // 24.5px
h4, .h4 { font-size: $font-size-h4; }  // 21px
h5, .h5 { font-size: $font-size-h5; }  // 17.5px
h6, .h6 { font-size: $font-size-h6; }  // 14px

/**
 * @name Links
 *
 * @state :hover - Hover state
 * @state :active - Active state
 * @state :focus - Focus state
 *
 * @markup
 *   <a href="#777">Hyperlink</a>
 */

a {
  color: $link-color;
  text-decoration: underline;
  @include transition(all .2s ease-in-out);

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus,
  .pseudo-class-focus {
    @include tab-focus();
  }
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: $font-size-sm;
}

/**
 * @name Text
 *
 * @state .text-left - Align left
 * @state .text-right - Align right
 * @state .text-center - Centered
 * @state .text-justify - Justified
 * @state .text-nowrap - No wrap
 * @state .text-lowercase - Lowercase
 * @state .text-uppercase - Uppercase
 * @state .text-capitalize - Capitalize
 * @state .text-primary - Primary
 * @state .text-success - Success
 * @state .text-info - Info
 * @state .text-warning - Warning
 * @state .text-danger - Danger
 *
 * @markup
 *   <p>Text helpers</p>
 */

$primary-text-color         : $brand-primary;
$success-text-color         : #3c763d !default;
$info-text-color            : #31708f !default;
$warning-text-color         : #8a6d3b !default;
$danger-text-color          : #a94442 !default;

text {
  @at-root {

    //.#{current-module()}-success {
    //  color: #3c763d;
    //}
    //.#{current-module()}-error {
    //  color: #a94442;
    //}

    // Alignment
    .#{current-module()}-left           { text-align: left; }
    .#{current-module()}-right          { text-align: right; }
    .#{current-module()}-center         { text-align: center; }
    .#{current-module()}-justify        { text-align: justify; }
    .#{current-module()}-nowrap         { white-space: nowrap; }

    // Transformation
    .#{current-module()}-lowercase      { text-transform: lowercase; }
    .#{current-module()}-uppercase      { text-transform: uppercase; }
    .#{current-module()}-capitalize     { text-transform: capitalize; }

    @include text-emphasis-variant('.#{current-module()}-primary',  $primary-text-color);
    @include text-emphasis-variant('.#{current-module()}-success',  $success-text-color);
    @include text-emphasis-variant('.#{current-module()}-info',     $info-text-color);
    @include text-emphasis-variant('.#{current-module()}-warning',  $warning-text-color);
    @include text-emphasis-variant('.#{current-module()}-danger',   $danger-text-color);
    @include text-emphasis-variant('.#{current-module()}-error',    $danger-text-color);

  }
}

/**
 * @name Horizontal Rule
 *
 * @markup
 *   <hr>
 */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}