/**
 * @name Floats
 *
 * @markup
 *
 */

.clearfix {
  @include clearfix();
}

.center-block {
  @include center-block();
}

.pull-right {
  @include pull-right();
}

.pull-left {
  @include pull-left();
}


/**
 * @name Screenreaders
 *
 * @markup
 *
 */

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

/**
 * @name Hidden
 *
 * @markup
 *
 */

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  @include text-hide();
}


/**
 * @name Borders
 *
 * @markup
 *
 */

.no-border {
	border: 0 !important;
}


/**
 * @name Background
 *
 * @markup
 *
 */

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $brand-success);

@include bg-variant('.bg-info', $brand-info);

@include bg-variant('.bg-warning', $brand-warning);

@include bg-variant('.bg-danger', $brand-danger);


/**
 *
 */