// Colors
$brand-primary                  :	nth( $paletteBlueGrey, 6 );
$brand-success                  :	nth( $paletteGreen, 6 );
$brand-info                     :	nth( $paletteLightBlue, 6 );
$brand-warning                  :	nth( $paletteDeepOrange, 6 );
$brand-danger                   :	nth( $paletteRed, 6 );

// Text
$font-family-base               : 'Open Sans', Sans-Serif;
$font-size-root                 : 14px !default;

$font-size-base                 : 1rem !default;
$font-size-lg                   : 1.25rem !default;
$font-size-sm                   : .85rem !default;
$font-size-xs                   : .75rem !default;

$line-height-base               : 1.5 !default;

$base-text-color                : black;
$text-color                     : lighten($base-text-color, 13%);
$secondary-text-color           : lighten($base-text-color, 46%);
$tertiary-text-color            : lighten($base-text-color, 74%);
$inverse-text-color             : rgba(255,255,255,0.9);

$link-color                     : $brand-primary !default;

// Padding
$padding-base-horizontal        : .75rem !default;
$padding-base-vertical          : .375rem !default;

// Borders
$border-color                   : lighten($base-text-color, 91%);

// Rounded corners
$border-radius-base             : 3px !default;
$caret-width                    : .3em !default;

//
$cursor-disabled                : not-allowed !default;