// Font
$font-family-sans-serif: 'Open Sans', Sans-Serif;

// Colors
$brand-primary        :	#00A1CB;
$brand-success        :	#7db500;
$brand-info           :	#5bc0de;
$brand-warning        :	#f0ad4e;
$brand-danger         :	#E54028;

$body-bg              : #f1f1f1;
$content-background   : #fff;
$navbar-inverse-bg    : #222 !default;
$navbar-inverse-color : #eee;

$link-color           : $brand-primary !default;

$border-color         : #eee;
$table-border-color   : $border-color;
$dark-border-color    : darken($border-color, 6%);
$input-border-color   : darken($border-color, 6%);

$input-bg-color       : #f9f9f9;

$btn-default-color    : #333;
$btn-default-bg       : #f9f9f9;
$btn-default-border   : #ccc;

// Widths & Spacing
$font-size-base       : 14px !default;

$spacing              : 24px;
$menu-panel-width     : 200px;

$mobile               : 320px;
$mobile-horizontal    : 480px;
$tablet               : 769px; // 768
$tablet-horizontal    : 1024px;
$desktop              : 1280px;
$desktop-wide         : 1500px;

// Rounded corners
$border-radius-base   : 3px !default;
$border-radius-large  : 10px !default;
$border-radius-small  : 3px !default;

$cursor-disabled:       not-allowed !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;