{{#if header}}<div class="{{namespace 'modal-header'}}"></div>{{/if}}
{{#if tabs}}<div class="{{namespace 'modal-tabs'}}"></div>{{/if}}
<div class="{{namespace 'modal-body'}}"></div>
{{#if footer}}<div class="{{namespace 'modal-footer'}}"></div>{{/if}}