// Core variables and mixins
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Components w/ JavaScript
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";

/**
 * POS ADMIN
 */
@import "partials/select2";

@import "partials/admin/settings";
@import "partials/admin/upgrade";