@import "compass";
@import "partials/palette";
@import "partials/variables";
@import "partials/admin/variables";
@import "partials/mixins";

// select2
@import "../../../../node_modules/select2/src/scss/core";


/**
 * POS ADMIN
 */

@import "partials/css-fade-animations";
@import "partials/icons";
@import "partials/tooltip";
@import "partials/modal";
@import "partials/admin/modal";

@import "partials/admin/settings";
@import "partials/admin/settings/general";
@import "partials/admin/settings/checkout";
@import "partials/admin/settings/access";
@import "partials/admin/settings/tools";
@import "partials/admin/settings/hotkeys";