@import "compass";

@font-face {
  font-family: 'WooCommercePOS';
  src: url('../fonts/woocommerce-pos.eot?v=0.3.1');
  src: url('../fonts/woocommerce-pos.eot?#iefix&v=0.3.1') format('embedded-opentype'), url('../fonts/woocommerce-pos.woff?v=0.3.1') format('woff'), url('../fonts/woocommerce-pos.ttf?v=0.3.1') format('truetype'), url('../fonts/woocommerce-pos.svg?v=0.3.1#woocommerceposregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="wc_pos-icon-"], [class*=" wc_pos-icon-"] {
  font-family: WooCommercePOS;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Required for <i> rotate ========= */
  display: inline-block;
  /* span for hidden text ========= */
  span {
    display: none;
  }
  /* Fix aligment issue in Firefox ========= */
  vertical-align: inherit;
}
.wc_pos-icon-lg {
  font-size: 1.33333333em;
}
.wc_pos-icon-2x {
  font-size: 2em;
}
.wc_pos-icon-3x {
  font-size: 3em;
}
.wc_pos-icon-4x {
  font-size: 4em;
}
.wc_pos-icon-5x {
  font-size: 5em;
}

/**
 * Spin
 * DO NOT use .spinner, this clashes with the wp-admin spinner
 */
@include keyframes(spin) {
  0% { @include rotate(0deg); }
  100% { @include rotate(359deg); }
}
.wc_pos-icon-spin {
  @include animation(spin 2s infinite linear);
}
.wc_pos-icon-spin--steps8 {
  @include animation(spin 1s infinite steps(8));
}
.wc_pos-icon-spin--steps12 {
  @include animation(spin 1s infinite steps(12));
}

/**
 * Rotate
 */
.wc_pos-icon-rotate-90 {
  @include rotate(90deg);
}
.wc_pos-icon-rotate-180 {
  @include rotate(180deg);
}
.wc_pos-icon-rotate-270 {
  @include rotate(270deg);
}
.wc_pos-icon-flip-horizontal {
  @include scale(-1, 1);
}
.wc_pos-icon-flip-vertical {
  @include scale(-1, 1);
}

/**
 * Icons
 */
.wc_pos-icon-angle-down:before {
  content: "\f107";
}
.wc_pos-icon-angle-up:before {
  content: "\f106";
}
.wc_pos-icon-barcode:before, .wc_pos-icon-products:before {
  content: "\e603";
}
.wc_pos-icon-bars:before {
  content: "\f0c9";
}
.wc_pos-icon-check:before, .wc_pos-icon-success:before {
  content: "\f00c";
}
.wc_pos-icon-chevron-left:before {
  content: "\f053";
}
.wc_pos-icon-chevron-right:before {
  content: "\f054";
}
.wc_pos-icon-chevron-up:before {
  content: "\f077";
}
.wc_pos-icon-chevron-down:before {
  content: "\f078";
}
.wc_pos-icon-cog:before {
  content: "\f013";
}
.wc_pos-icon-refresh:before {
  content: "\f01e";
}
.wc_pos-icon-globe:before {
  content: "\f0ac";
}
.wc_pos-icon-minus:before {
  content: "\f068";
}
.wc_pos-icon-plus:before {
  content: "\f067";
}
.wc_pos-icon-qrcode:before {
  content: "\e604";
}
.wc_pos-icon-receipt:before, .wc_pos-icon-orders:before {
  content: "\e602";
}
.wc_pos-icon-scissors:before, .wc_pos-icon-coupons:before {
  content: "\e607";
}
.wc_pos-icon-search:before {
  content: "\f002";
}
.wc_pos-icon-support:before {
  content: "\e605";
}
.wc_pos-icon-times:before, .wc_pos-icon-error:before {
  content: "\f00d";
}
.wc_pos-icon-times-circle:before {
  content: "\f057";
}
.wc_pos-icon-user:before, .wc_pos-icon-customers:before {
  content: "\e606";
}
.wc_pos-icon-woocommerce-pos:before, .wc_pos-icon-pos:before {
  content: "\e600";
}
.wc_pos-icon-delete:before {
  content: "\e601";
}
.wc_pos-icon-info-circle:before {
  content: "\f05a";
}
.wc_pos-icon-more-horiz:before {
  content: "\e608";
}
.wc_pos-icon-more-vert:before {
  content: "\e609";
}
.wc_pos-icon-note:before {
  content: "\e026";
}
.wc_pos-icon-wordpress:before {
  content: "\e60a";
}

/**
 * Order status
 */
.wc_pos-icon-pending:before {
  content: "\e012";
  color: #ffba00;
}
.wc_pos-icon-completed:before {
  content: "\e015";
  color: #2ea2cc;
}
.wc_pos-icon-on-hold:before {
  content: "\e033";
  color: #999;
}
.wc_pos-icon-failed:before {
  content: "\e016";
  color: #d0c21f;
}
.wc_pos-icon-cancelled:before {
  content: "\e013";
  color: #a00;
}
.wc_pos-icon-processing:before {
  content: "\e011";
  color: #73a724;
}
.wc_pos-icon-refunded:before {
  content: "\e014";
  color: #999;
}
.wc_pos-icon-open:before {
  content: "\e01d";
  color: #73a724;
}

/**
 * Loading & Fail
 */
.wc_pos-icon-loading, .wc_pos-icon-spinner {
  @extend .wc_pos-icon-spin;
  @extend .wc_pos-icon-cog;
}

.wc_pos-icon-fail {
  font-family: monospace;
  &:before {
    content: "⊙﹏⊙";
  }
}

.pass .wc_pos-icon-success {
  color: #3c763d;
}

.fail .wc_pos-icon-error {
  color: #a94442;
}