/**
 * Upgrade to Pro
 */
.woocommerce-pos-upgrade p {
  font-size: 14px;
}
.woocommerce-pos-upgrade h4 {
  font-size: 18px;
}
.woocommerce-pos-upgrade h3 {
  font-size: 24px;
}
.woocommerce-pos-upgrade h2 {
  font-size: 28px;
  line-height: 1.5em;
}
.woocommerce-pos-upgrade a.btn {
  color: #fff;
  background-color: #cd2f19;
  border: 1px solid #b62a16;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
}
.woocommerce-pos-upgrade a.btn:hover {
  background-color: #a02513;
  border-color: #801d10;
}
.woocommerce-pos-upgrade .textcenter {
  text-align: center;
}
.woocommerce-pos-upgrade article.page {
  float: left;
  width: 70%;
}
.woocommerce-pos-upgrade .sidebar {
  margin-left: 75%;
}
.woocommerce-pos-upgrade section.row {
  padding: 20px 0;
  clear: both;
}
.woocommerce-pos-upgrade section.row:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.woocommerce-pos-upgrade section.row  article {
  width: 29%;
  margin: 0 2%;
  text-align: center;
  float: left;
}

@media only screen and (max-width: 799px) {
  .woocommerce-pos-upgrade article.page {
    float: none;
    width: auto;
  }
  .woocommerce-pos-upgrade .sidebar {
    margin: 0;
  }
  .woocommerce-pos-upgrade section.row  article {
    float: none;
    width: auto;
    margin: 0;
  }
}

/**
 * Alerts & Notices
 */
.woocommerce-pos-warning {
  background-color: #fff;
  padding: 1px 12px;
  border-left: 4px solid #ffba00;
}