@import "compass";
@import "partials/palette";
@import "partials/variables";
@import "partials/admin/variables";

// Vendor
@import "partials/normalize";

// Bootstrap
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

/**
 * POS ADMIN
 */
@import "partials/select2";
@import "partials/loading";

@import "partials/admin/settings";
@import "partials/admin/upgrade";
@import "partials/admin/modal";