@import "compass";

@font-face {
  font-family: 'WooCommercePOS';
  src: url('../fonts/woocommerce-pos.eot?v=0.3.1');
  src: url('../fonts/woocommerce-pos.eot?#iefix&v=0.3.1') format('embedded-opentype'), url('../fonts/woocommerce-pos.woff?v=0.3.1') format('woff'), url('../fonts/woocommerce-pos.ttf?v=0.3.1') format('truetype'), url('../fonts/woocommerce-pos.svg?v=0.3.1#woocommerceposregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: WooCommercePOS;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Required for <i> rotate ========= */
  display: inline-block;
  /* ? ========= */
  span {
    display: none;
  }
}
.icon-lg {
  font-size: 1.33333333em;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}

/**
 * Spin
 */
@include keyframes(spin) {
  0% { @include rotate(0deg); }
  100% { @include rotate(359deg); }
}
.spinner, .icon-spin {
  @include animation(spin 2s infinite linear);
}
.spinner--steps8 {
  @include animation(spin 1s infinite steps(8));
}
.spinner--steps12 {
  @include animation(spin 1s infinite steps(12));
}

/**
 * Rotate
 */
.icon-rotate-90 {
  @include rotate(90deg);
}
.icon-rotate-180 {
  @include rotate(180deg);
}
.icon-rotate-270 {
  @include rotate(270deg);
}
.icon-flip-horizontal {
  @include scale(-1, 1);
}
.icon-flip-vertical {
  @include scale(-1, 1);
}

/**
 * Icons
 */
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-barcode:before, .icon-products:before {
  content: "\e603";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-check:before, .icon-success:before {
  content: "\f00c";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-cog:before {
  content: "\f013";
}
.icon-refresh:before {
  content: "\f01e";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-minus:before {
  content: "\f068";
}
.icon-plus:before {
  content: "\f067";
}
.icon-qrcode:before {
  content: "\e604";
}
.icon-receipt:before, .icon-orders:before {
  content: "\e602";
}
.icon-scissors:before, .icon-coupons:before {
  content: "\e607";
}
.icon-search:before {
  content: "\f002";
}
.icon-support:before {
  content: "\e605";
}
.icon-times:before, .icon-error:before {
  content: "\f00d";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-user:before, .icon-customers:before {
  content: "\e606";
}
.icon-woocommerce-pos:before, .icon-pos:before {
  content: "\e600";
}
.icon-delete:before {
  content: "\e601";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-more-horiz:before {
  content: "\e608";
}
.icon-more-vert:before {
  content: "\e609";
}
.icon-note:before {
  content: "\e026";
}

/**
 * Order status
 */
.icon-pending:before {
  content: "\e012";
  color: #ffba00;
}
.icon-completed:before {
  content: "\e015";
  color: #2ea2cc;
}
.icon-on-hold:before {
  content: "\e033";
  color: #999;
}
.icon-failed:before {
  content: "\e016";
  color: #d0c21f;
}
.icon-cancelled:before {
  content: "\e013";
  color: #a00;
}
.icon-processing:before {
  content: "\e011";
  color: #73a724;
}
.icon-refunded:before {
  content: "\e014";
  color: #999;
}
.icon-open:before {
  content: "\e01d";
  color: #73a724;
}

/**
 * Loading & Fail
 */
.icon-loading, .icon-spinner {
  @extend .spinner;
  @extend .icon-cog;
}

.icon-fail {
  font-family: monospace;
  &:before {
    content: "⊙﹏⊙";
  }
}