@font-face {
  font-family: 'WooCommercePOS';
  src: url('../fonts/woocommerce-pos.eot?v=0.3.1');
  src: url('../fonts/woocommerce-pos.eot?#iefix&v=0.3.1') format('embedded-opentype'), url('../fonts/woocommerce-pos.woff?v=0.3.1') format('woff'), url('../fonts/woocommerce-pos.ttf?v=0.3.1') format('truetype'), url('../fonts/woocommerce-pos.svg?v=0.3.1#woocommerceposregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: WooCommercePOS;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lg {
  font-size: 1.33333333em;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-barcode:before, .icon-products:before {
  content: "\e603";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-check:before {
  content: "\f00c";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-cog:before {
  content: "\f013";
}
.icon-refresh:before {
  content: "\f01e";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-minus:before {
  content: "\f068";
}
.icon-plus:before {
  content: "\f067";
}
.icon-qrcode:before {
  content: "\e604";
}
.icon-receipt:before, .icon-orders:before {
  content: "\e602";
}
.icon-scissors:before, .icon-coupons:before {
  content: "\e607";
}
.icon-search:before {
  content: "\f002";
}
.icon-support:before {
  content: "\e605";
}
.icon-times:before {
  content: "\f00d";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-user:before, .icon-customers:before {
  content: "\e606";
}
.icon-woocommerce-pos:before, .icon-pos:before {
  content: "\e600";
}
.icon-delete:before {
  content: "\e601";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-more-horiz:before {
  content: "\e608";
}
.icon-more-vert:before {
  content: "\e609";
}

/**
 * Loading & Fail
 */
.icon-spinner {
  width: 20px;
  height: 20px;
  background: url(../loader.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &.icon-2x {
    width: 40px;
    height: 40px;
  }
}

.icon-fail {
  font-family: monospace;
  &:before {
    content: "⊙﹏⊙";
  }
}