@import "compass";

@import "partials/mixins";
@import "partials/palette";
@import "partials/variables";

// Reset
@import "partials/normalize";
@import "partials/reboot";
@import "partials/utilities";

// Scaffolding
@import "partials/header";
@import "partials/main";
@import "partials/menu";

// Components
@import "partials/button_group";
@import "partials/buttons";
@import "partials/css-fade-animations";
@import "partials/custom-forms";
@import "partials/dropdown";
@import "partials/forms";
@import "partials/hotkeys";
@import "partials/icons";
@import "partials/input-group";
@import "partials/images";
@import "partials/list";
@import "partials/loading";
@import "partials/modal";
@import "partials/numpad";
@import "partials/panel";
@import "partials/popover";
@import "partials/popover/numpad";
@import "partials/popover/variations";
@import "partials/tables";
@import "partials/tabs";
@import "partials/tooltip";
@import "partials/type";

// POS components
@import "partials/cart";
@import "partials/checkout";
@import "partials/print-preview";
@import "partials/products";
@import "partials/receipt";
@import "partials/support";