@import "compass";
@import "breakpoint";
@import "partials/variables";

// Vendor
@import "partials/normalize";

// Bootstrap
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";

//
@import "partials/mixins";

// POS front-end
@import "partials/scaffolding";
@import "partials/common";
@import "partials/type";
@import "partials/header";
@import "partials/menu";
@import "partials/buttons";

@import "partials/tabs";
@import "partials/products";
@import "partials/cart";

@import "partials/numpad";